flows_careflow.json
[
    {
        "id": "926db3bd.4273a",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a1643e52.69ec58",
        "type": "subflow",
        "name": "Patient Identification",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "56269f66.d78ff"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 60,
                "y": 500,
                "wires": [
                    {
                        "id": "b87511c8.2aad4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "9eba9893.b5ab6",
        "type": "subflow",
        "name": "HIV C&I Summary Diagnostic",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "fcfaf434.b3f8f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 60,
                "y": 340,
                "wires": [
                    {
                        "id": "369b84b5.91fe7c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "c44a39a9.c6ae6",
        "type": "subflow",
        "name": "Initial Assessment by clinician",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "388199af.c68f26"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 60,
                "y": 320,
                "wires": [
                    {
                        "id": "9bc52e4e.e24b88",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "e95b8a2f.2a804",
        "type": "subflow",
        "name": "Other Baseline Information",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "af94a681.5c5f4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 60,
                "y": 520,
                "wires": [
                    {
                        "id": "1d0d3e47.b7d02a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "86b75ff7.b31198",
        "type": "subflow",
        "name": "Treatment Interruptions",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "ed2ea718.e51d28"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 60,
                "y": 340,
                "wires": [
                    {
                        "id": "82665184.30463",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "1c8e387f.c41f88",
        "type": "subflow",
        "name": "Departure from Treatment",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "7039070c.3ad958"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 60,
                "y": 220,
                "wires": [
                    {
                        "id": "4fe9ce0e.405ac8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "e2e7ca08.3b41",
        "type": "subflow",
        "name": "Ongoing Staging",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "52a25e32.945718"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 60,
                "y": 340,
                "wires": [
                    {
                        "id": "d0aa055d.d853b8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "3cffefd8.654f6",
        "type": "subflow",
        "name": "ART Treatment",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "f318e98c.757928"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 60,
                "y": 580,
                "wires": [
                    {
                        "id": "7c5a4eee.45416",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "21ab2f94.f2bee",
        "type": "subflow",
        "name": "ART Register Book",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "52c625e7.065abc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 40,
                "wires": [
                    {
                        "id": "52c625e7.065abc",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "3589d1ce.0e5f66",
        "type": "subflow",
        "name": "Pre-ART Register Book",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "49dba4ec.e9cdac"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 40,
                "wires": [
                    {
                        "id": "49dba4ec.e9cdac",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "6467ceb9.0eaa4",
        "type": "subflow",
        "name": "ART register patient",
        "info": "",
        "category": "RDH HIV",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "42682891.4504c8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 660,
                "y": 480,
                "wires": [
                    {
                        "id": "f78e7511.2a1df8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "9d34a91.b320b58",
        "type": "subflow",
        "name": "ART Status at Initiation",
        "info": "",
        "category": "RDH HIV",
        "in": [
            {
                "x": 40,
                "y": 160,
                "wires": [
                    {
                        "id": "b899546b.02c3c8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 380,
                "y": 740,
                "wires": [
                    {
                        "id": "bfdf9eca.ce5e3",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "340fa181.b8c92e",
        "type": "subflow",
        "name": "ART Confirmatory HIV Test",
        "info": "",
        "category": "RDH HIV",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "7512aec1.ed22b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 380,
                "y": 560,
                "wires": [
                    {
                        "id": "e5ceb606.7fa3d8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "2ace2e04.3bb9a2",
        "type": "subflow",
        "name": "ART Intake (as per Register)",
        "info": "",
        "category": "RDH HIV",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "25327dd5.15a8a2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 640,
                "y": 440,
                "wires": [
                    {
                        "id": "fb0b67a7.9c36b8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "a617f170.1c605",
        "type": "subflow",
        "name": "ART Visit: Vitals",
        "info": "",
        "category": "RDH HIV",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "447a0ef0.4e232"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 260,
                "wires": [
                    {
                        "id": "3b06c6e8.c5f2da",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "1643d582.b1991a",
        "type": "subflow",
        "name": "ART Visit: Visit",
        "info": "",
        "category": "RDH HIV",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "9e2278b8.90b6d8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 740,
                "y": 780,
                "wires": [
                    {
                        "id": "5a67260f.aacc38",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "d5cb0610.e75008",
        "type": "subflow",
        "name": "Exp Infant Vitals",
        "info": "",
        "category": "RDH HIV",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "2ddca830.c798e8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 480,
                "y": 240,
                "wires": [
                    {
                        "id": "46b2a0c4.41a7",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "dc4d15f8.c825c8",
        "type": "subflow",
        "name": "Exp Infant register patient",
        "info": "",
        "category": "RDH HIV",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "c228b7c7.6ccee8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 360,
                "y": 640,
                "wires": [
                    {
                        "id": "1c0b8c9a.f51c43",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "e4a163f.bcc78a",
        "type": "subflow",
        "name": "Exp Infant Status",
        "info": "",
        "category": "RDH HIV",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "e8f47685.f065c8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 400,
                "y": 280,
                "wires": [
                    {
                        "id": "f4da2592.cc43b8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "69e3b9ba.723bc8",
        "type": "subflow",
        "name": "Exp Infant HIV Testing",
        "info": "",
        "category": "RDH HIV",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "b6fe09d2.2a9958"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 320,
                "wires": [
                    {
                        "id": "39ae6d4d.b35712",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "7d846b81.1913b4",
        "type": "subflow",
        "name": "Exp Infant Visit",
        "info": "",
        "category": "RDH HIV",
        "in": [
            {
                "x": 130,
                "y": 90,
                "wires": [
                    {
                        "id": "451388c5.870eb8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 500,
                "y": 460,
                "wires": [
                    {
                        "id": "4e50bfc.a0a5d4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "128d8803.8b8dd8",
        "type": "subflow",
        "name": "VL order",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 220,
                "wires": [
                    {
                        "id": "6156dabd.252114"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1900,
                "y": 200,
                "wires": [
                    {
                        "id": "dcc0a522.adbbf8",
                        "port": 1
                    },
                    {
                        "id": "b6557126.0ce8a",
                        "port": 0
                    },
                    {
                        "id": "eaaa7635.a55248",
                        "port": 0
                    },
                    {
                        "id": "14ad6ec0.670881",
                        "port": 0
                    },
                    {
                        "id": "6598135e.5bbd3c",
                        "port": "2"
                    },
                    {
                        "id": "19c1c12c.558b6f",
                        "port": 0
                    },
                    {
                        "id": "8ec3f8d7.3d7638",
                        "port": 0
                    },
                    {
                        "id": "69c43d8a.5c8c14",
                        "port": 0
                    },
                    {
                        "id": "e1494425.886ed8",
                        "port": 0
                    },
                    {
                        "id": "9f531852.7323d8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "8597eba8.d8b1e8",
        "type": "subflow",
        "name": "VL order (simplified)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "9c85c55b.37704"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 580,
                "y": 140,
                "wires": [
                    {
                        "id": "9c85c55b.37704",
                        "port": 0
                    },
                    {
                        "id": "6128ffeb.5975b8",
                        "port": 0
                    },
                    {
                        "id": "a47d183c.048828",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "4148c8ad.2bc0b8",
        "type": "subflow",
        "name": "Height, Weight, MUAC",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 100,
                "wires": [
                    {
                        "id": "e1cb7e8.96721"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 140,
                "wires": [
                    {
                        "id": "fa328621.476508",
                        "port": 0
                    },
                    {
                        "id": "15ee1219.4726de",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "7bf38ac1.088444",
        "type": "careflow-config",
        "environment": "xian",
        "runtime_flow_path": "/Users/xian/projects/data-first-emr/workflow-poc-emr/resources/node-red-flows.json"
    },
    {
        "id": "56269f66.d78ff",
        "type": "question-primitive",
        "z": "a1643e52.69ec58",
        "name": "name",
        "label": "Name",
        "scope": "demographic",
        "key": "",
        "datatype": "text",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "8555e461.fb86c"
            ]
        ]
    },
    {
        "id": "8555e461.fb86c",
        "type": "question-primitive",
        "z": "a1643e52.69ec58",
        "name": "clientid",
        "label": "Facility Client ID",
        "scope": "demographic",
        "key": "",
        "datatype": "integer",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "7b624999.7b36a"
            ]
        ]
    },
    {
        "id": "7b624999.7b36a",
        "type": "question-primitive",
        "z": "a1643e52.69ec58",
        "name": "uniquecode",
        "label": "Unique Code",
        "scope": "demographic",
        "key": "",
        "datatype": "integer",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "c495c5b8.64ada"
            ]
        ]
    },
    {
        "id": "c495c5b8.64ada",
        "type": "demographic-birthdate",
        "z": "a1643e52.69ec58",
        "name": "",
        "entrybyage": "",
        "partialdate": "",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "11b3883d.dbfc7"
            ]
        ]
    },
    {
        "id": "11b3883d.dbfc7",
        "type": "question-primitive",
        "z": "a1643e52.69ec58",
        "name": "familymembername",
        "label": "Name of Family Member",
        "scope": "demographic",
        "key": "",
        "datatype": "text",
        "x": 240,
        "y": 320,
        "wires": [
            [
                "aa469a0e.1654b"
            ]
        ]
    },
    {
        "id": "aa469a0e.1654b",
        "type": "question-select",
        "z": "a1643e52.69ec58",
        "name": "sex",
        "label": "Sex",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Male"
            },
            {
                "sid": "Female"
            }
        ],
        "x": 190,
        "y": 380,
        "wires": [
            [
                "b87511c8.2aad4"
            ]
        ]
    },
    {
        "id": "b87511c8.2aad4",
        "type": "question-primitive",
        "z": "a1643e52.69ec58",
        "name": "contact",
        "label": "Contact #",
        "scope": "demographic",
        "key": "",
        "datatype": "text",
        "x": 200,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "fcfaf434.b3f8f",
        "type": "question-primitive",
        "z": "9eba9893.b5ab6",
        "name": "date confirmed HIV+",
        "label": "Date Confirmed HIV+",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 240,
        "y": 80,
        "wires": [
            [
                "75a05baf.3e7d44"
            ]
        ]
    },
    {
        "id": "75a05baf.3e7d44",
        "type": "question-select",
        "z": "9eba9893.b5ab6",
        "name": "hivtype",
        "label": "HIV Type",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "HIV 1"
            },
            {
                "sid": "HIV 2"
            },
            {
                "sid": "HIV 1&2"
            }
        ],
        "x": 200,
        "y": 140,
        "wires": [
            [
                "85db2847.d8394"
            ]
        ]
    },
    {
        "id": "85db2847.d8394",
        "type": "question-primitive",
        "z": "9eba9893.b5ab6",
        "name": "referred from",
        "label": "Referred from (coded)",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "369b84b5.91fe7c"
            ]
        ]
    },
    {
        "id": "369b84b5.91fe7c",
        "type": "question-primitive",
        "z": "9eba9893.b5ab6",
        "name": "partnertested",
        "label": "Partner and Children tested?",
        "scope": "encounter",
        "key": "",
        "datatype": "boolean",
        "x": 220,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "388199af.c68f26",
        "type": "question-primitive",
        "z": "c44a39a9.c6ae6",
        "name": "date",
        "label": "Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "f5c6d144.75a92"
            ]
        ]
    },
    {
        "id": "f5c6d144.75a92",
        "type": "height-weight",
        "z": "c44a39a9.c6ae6",
        "name": "",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "9bc52e4e.e24b88"
            ]
        ]
    },
    {
        "id": "9bc52e4e.e24b88",
        "type": "question-primitive",
        "z": "c44a39a9.c6ae6",
        "name": "bmi",
        "label": "Body mass index (kg/m^2)",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 190,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "af94a681.5c5f4",
        "type": "question-primitive",
        "z": "e95b8a2f.2a804",
        "name": "rpr",
        "label": "RPR",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "6c2dc748.aa9148"
            ]
        ]
    },
    {
        "id": "6c2dc748.aa9148",
        "type": "question-primitive",
        "z": "e95b8a2f.2a804",
        "name": "rpr date",
        "label": "RPD Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "fc29a7b4.229698"
            ]
        ]
    },
    {
        "id": "fc29a7b4.229698",
        "type": "question-primitive",
        "z": "e95b8a2f.2a804",
        "name": "other1 lab",
        "label": "Other Lab 1",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "338eed57.89c7a2"
            ]
        ]
    },
    {
        "id": "338eed57.89c7a2",
        "type": "question-primitive",
        "z": "e95b8a2f.2a804",
        "name": "other1 lab date",
        "label": "Other Lab 1 date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "9dce0601.a1114"
            ]
        ]
    },
    {
        "id": "9dce0601.a1114",
        "type": "question-primitive",
        "z": "e95b8a2f.2a804",
        "name": "other2 lab",
        "label": "Other 2 Lab",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "be098554.4adff"
            ]
        ]
    },
    {
        "id": "be098554.4adff",
        "type": "question-primitive",
        "z": "e95b8a2f.2a804",
        "name": "other2 lab date",
        "label": "Other 2 Lab date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "1d0d3e47.b7d02a"
            ]
        ]
    },
    {
        "id": "1d0d3e47.b7d02a",
        "type": "question-primitive",
        "z": "e95b8a2f.2a804",
        "name": "tb treatments",
        "label": "Past TB Regimens & Dates",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 220,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "ed2ea718.e51d28",
        "type": "question-primitive",
        "z": "86b75ff7.b31198",
        "name": "interruption1",
        "label": "1st Treatment Interruption Reason",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "56715cbb.069e0c"
            ]
        ]
    },
    {
        "id": "56715cbb.069e0c",
        "type": "question-primitive",
        "z": "86b75ff7.b31198",
        "name": "interruption1 date",
        "label": "1st Treatment Interruption Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "f6eedc09.bfb8"
            ]
        ]
    },
    {
        "id": "f6eedc09.bfb8",
        "type": "question-primitive",
        "z": "86b75ff7.b31198",
        "name": "interruption2",
        "label": "2nd Treatment Interruption Reason",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "82665184.30463"
            ]
        ]
    },
    {
        "id": "82665184.30463",
        "type": "question-primitive",
        "z": "86b75ff7.b31198",
        "name": "interruption2 date",
        "label": "2nd Treatment Interruption Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 210,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4fe9ce0e.405ac8",
        "type": "question-primitive",
        "z": "1c8e387f.c41f88",
        "name": "treatment departure",
        "label": "Treatment Departure Reason",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 200,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7039070c.3ad958",
        "type": "question-primitive",
        "z": "1c8e387f.c41f88",
        "name": "treatment departure date",
        "label": "Treatment Departure Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 210,
        "y": 80,
        "wires": [
            [
                "4fe9ce0e.405ac8"
            ]
        ]
    },
    {
        "id": "52a25e32.945718",
        "type": "question-primitive",
        "z": "e2e7ca08.3b41",
        "name": "stage1 date",
        "label": "WHO Stage 1 Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "da03c42e.a93a1"
            ]
        ]
    },
    {
        "id": "da03c42e.a93a1",
        "type": "question-primitive",
        "z": "e2e7ca08.3b41",
        "name": "stage2 date",
        "label": "WHO Stage 2 Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "c1b34a16.490578"
            ]
        ]
    },
    {
        "id": "c1b34a16.490578",
        "type": "question-primitive",
        "z": "e2e7ca08.3b41",
        "name": "stage3 date",
        "label": "WHO Stage 3 Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "d0aa055d.d853b8"
            ]
        ]
    },
    {
        "id": "d0aa055d.d853b8",
        "type": "question-primitive",
        "z": "e2e7ca08.3b41",
        "name": "stage4 date",
        "label": "WHO Stage 4 Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 190,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f318e98c.757928",
        "type": "question-primitive",
        "z": "3cffefd8.654f6",
        "name": "startdate",
        "label": "Date Started",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "5a8950ca.280e38"
            ]
        ]
    },
    {
        "id": "5a8950ca.280e38",
        "type": "question-select",
        "z": "3cffefd8.654f6",
        "name": "initial regimen",
        "label": "Initial Regimen",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "1a"
            },
            {
                "sid": "1b"
            },
            {
                "sid": "1c"
            },
            {
                "sid": "1d"
            },
            {
                "sid": "1e"
            },
            {
                "sid": "1f"
            },
            {
                "sid": "1g"
            },
            {
                "sid": "1h"
            },
            {
                "sid": "1i"
            },
            {
                "sid": "1j"
            },
            {
                "sid": "1k"
            },
            {
                "sid": "1l"
            },
            {
                "sid": "1m"
            },
            {
                "sid": "2a"
            },
            {
                "sid": "2b"
            },
            {
                "sid": "2c"
            },
            {
                "sid": "2d"
            },
            {
                "sid": "2e"
            }
        ],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "aa85dc3e.255ca"
            ]
        ]
    },
    {
        "id": "aa85dc3e.255ca",
        "type": "question-select",
        "z": "3cffefd8.654f6",
        "name": "1st line 1st substitution regimen",
        "label": "1st Line: 1st Substitution Regimen",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "1a"
            },
            {
                "sid": "1b"
            },
            {
                "sid": "1c"
            },
            {
                "sid": "1d"
            },
            {
                "sid": "1e"
            },
            {
                "sid": "1f"
            },
            {
                "sid": "1g"
            },
            {
                "sid": "1h"
            },
            {
                "sid": "1i"
            },
            {
                "sid": "1j"
            },
            {
                "sid": "1k"
            },
            {
                "sid": "1l"
            },
            {
                "sid": "1m"
            },
            {
                "sid": "2a"
            },
            {
                "sid": "2b"
            },
            {
                "sid": "2c"
            },
            {
                "sid": "2d"
            },
            {
                "sid": "2e"
            }
        ],
        "x": 270,
        "y": 200,
        "wires": [
            [
                "71df6c0d.305864"
            ]
        ]
    },
    {
        "id": "71df6c0d.305864",
        "type": "question-primitive",
        "z": "3cffefd8.654f6",
        "name": "1st line 1st substitution reason",
        "label": "1st Line: 1st Substitution Reason",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "a81911bd.b7966"
            ]
        ]
    },
    {
        "id": "a81911bd.b7966",
        "type": "question-primitive",
        "z": "3cffefd8.654f6",
        "name": "1st line 1st substitution date",
        "label": "1st Line: 1st Substitution Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 260,
        "y": 320,
        "wires": [
            [
                "1ae30506.e4bedb"
            ]
        ]
    },
    {
        "id": "1ae30506.e4bedb",
        "type": "question-select",
        "z": "3cffefd8.654f6",
        "name": "1st line 2nd substitution regimen",
        "label": "1st Line: 2nd Substitution Regimen",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "1a"
            },
            {
                "sid": "1b"
            },
            {
                "sid": "1c"
            },
            {
                "sid": "1d"
            },
            {
                "sid": "1e"
            },
            {
                "sid": "1f"
            },
            {
                "sid": "1g"
            },
            {
                "sid": "1h"
            },
            {
                "sid": "1i"
            },
            {
                "sid": "1j"
            },
            {
                "sid": "1k"
            },
            {
                "sid": "1l"
            },
            {
                "sid": "1m"
            },
            {
                "sid": "2a"
            },
            {
                "sid": "2b"
            },
            {
                "sid": "2c"
            },
            {
                "sid": "2d"
            },
            {
                "sid": "2e"
            }
        ],
        "x": 280,
        "y": 380,
        "wires": [
            [
                "5249124e.1e61cc"
            ]
        ]
    },
    {
        "id": "5249124e.1e61cc",
        "type": "question-primitive",
        "z": "3cffefd8.654f6",
        "name": "1st line 2nd substitution reason",
        "label": "1st Line: 2nd Substitution Reason",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 270,
        "y": 440,
        "wires": [
            [
                "bb6b2b3e.886ca8"
            ]
        ]
    },
    {
        "id": "bb6b2b3e.886ca8",
        "type": "question-primitive",
        "z": "3cffefd8.654f6",
        "name": "1st line 2nd substitution date",
        "label": "1st Line: 2nd Substitution Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 260,
        "y": 500,
        "wires": [
            [
                "4056f450.4d7114"
            ]
        ]
    },
    {
        "id": "4056f450.4d7114",
        "type": "question-select",
        "z": "3cffefd8.654f6",
        "name": "2nd line 1st substitution regimen",
        "label": "2nd Line: 1st Substitution Regimen",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "1a"
            },
            {
                "sid": "1b"
            },
            {
                "sid": "1c"
            },
            {
                "sid": "1d"
            },
            {
                "sid": "1e"
            },
            {
                "sid": "1f"
            },
            {
                "sid": "1g"
            },
            {
                "sid": "1h"
            },
            {
                "sid": "1i"
            },
            {
                "sid": "1j"
            },
            {
                "sid": "1k"
            },
            {
                "sid": "1l"
            },
            {
                "sid": "1m"
            },
            {
                "sid": "2a"
            },
            {
                "sid": "2b"
            },
            {
                "sid": "2c"
            },
            {
                "sid": "2d"
            },
            {
                "sid": "2e"
            }
        ],
        "x": 660,
        "y": 200,
        "wires": [
            [
                "e4e8fa63.521778"
            ]
        ]
    },
    {
        "id": "e4e8fa63.521778",
        "type": "question-primitive",
        "z": "3cffefd8.654f6",
        "name": "2nd line 1st substitution reason",
        "label": "2nd Line: 1st Substitution Reason",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 650,
        "y": 260,
        "wires": [
            [
                "bd5dfea8.3979f8"
            ]
        ]
    },
    {
        "id": "bd5dfea8.3979f8",
        "type": "question-primitive",
        "z": "3cffefd8.654f6",
        "name": "2nd line 1st substitution date",
        "label": "2nd Line: 1st Substitution Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 640,
        "y": 320,
        "wires": [
            [
                "cdd68008.98d8c8"
            ]
        ]
    },
    {
        "id": "cdd68008.98d8c8",
        "type": "question-select",
        "z": "3cffefd8.654f6",
        "name": "2nd line 2nd substitution regimen",
        "label": "2nd Line: 2nd Substitution Regimen",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "1a"
            },
            {
                "sid": "1b"
            },
            {
                "sid": "1c"
            },
            {
                "sid": "1d"
            },
            {
                "sid": "1e"
            },
            {
                "sid": "1f"
            },
            {
                "sid": "1g"
            },
            {
                "sid": "1h"
            },
            {
                "sid": "1i"
            },
            {
                "sid": "1j"
            },
            {
                "sid": "1k"
            },
            {
                "sid": "1l"
            },
            {
                "sid": "1m"
            },
            {
                "sid": "2a"
            },
            {
                "sid": "2b"
            },
            {
                "sid": "2c"
            },
            {
                "sid": "2d"
            },
            {
                "sid": "2e"
            }
        ],
        "x": 660,
        "y": 380,
        "wires": [
            [
                "447fbe02.ebe208"
            ]
        ]
    },
    {
        "id": "447fbe02.ebe208",
        "type": "question-primitive",
        "z": "3cffefd8.654f6",
        "name": "2nd line 2nd substitution reason",
        "label": "2nd Line: 2nd Substitution Reason",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 650,
        "y": 440,
        "wires": [
            [
                "7c5a4eee.45416"
            ]
        ]
    },
    {
        "id": "7c5a4eee.45416",
        "type": "question-primitive",
        "z": "3cffefd8.654f6",
        "name": "2nd line 2nd substitution date",
        "label": "2nd Line: 2nd Substitution Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 650,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "52c625e7.065abc",
        "type": "question-primitive",
        "z": "21ab2f94.f2bee",
        "name": "ART Register Book",
        "label": "ART Register Book TBD",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 210,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "49dba4ec.e9cdac",
        "type": "question-primitive",
        "z": "3589d1ce.0e5f66",
        "name": "preart",
        "label": "Pre-ART Register TBD",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 190,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "706a1970.dbabe8",
        "type": "comment",
        "z": "6467ceb9.0eaa4",
        "name": "ART Chart - Patient",
        "info": "",
        "x": 170,
        "y": 60,
        "wires": []
    },
    {
        "id": "1a67bdec.f3c132",
        "type": "question-primitive",
        "z": "6467ceb9.0eaa4",
        "name": "Transfer-In Date",
        "label": "Transfer-In Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "optional": true,
        "x": 500,
        "y": 320,
        "wires": [
            [
                "8725adde.7d85b"
            ]
        ]
    },
    {
        "id": "8725adde.7d85b",
        "type": "question-primitive",
        "z": "6467ceb9.0eaa4",
        "name": "Guardian Name",
        "label": "Guardian Name",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "optional": true,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "b0ceb226.acf9c"
            ]
        ]
    },
    {
        "id": "b0ceb226.acf9c",
        "type": "question-primitive",
        "z": "6467ceb9.0eaa4",
        "name": "Phone Guardian",
        "label": "Phone Guardian",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "optional": true,
        "x": 500,
        "y": 400,
        "wires": [
            [
                "cfd02eb7.e728d"
            ]
        ]
    },
    {
        "id": "cfd02eb7.e728d",
        "type": "question-select",
        "z": "6467ceb9.0eaa4",
        "name": "Agreed to FUP",
        "label": "Agreed to FUP",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "N"
            },
            {
                "sid": "Y"
            }
        ],
        "x": 500,
        "y": 440,
        "wires": [
            [
                "f78e7511.2a1df8"
            ]
        ]
    },
    {
        "id": "f78e7511.2a1df8",
        "type": "question-primitive",
        "z": "6467ceb9.0eaa4",
        "name": "Guardian Relation",
        "label": "Guardian Relation",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "optional": true,
        "x": 500,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "5aad3de7.f89924",
        "type": "comment",
        "z": "9d34a91.b320b58",
        "name": "ART Chart - Status At Initiation",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "b899546b.02c3c8",
        "type": "question-primitive",
        "z": "9d34a91.b320b58",
        "name": "HIV related diseases",
        "label": "HIV related diseases",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "optional": true,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "5f399288.df43ac"
            ]
        ]
    },
    {
        "id": "11ba11e8.0a589e",
        "type": "question-select",
        "z": "9d34a91.b320b58",
        "name": "Urine LAM/CrAg Result",
        "label": "Urine LAM/CrAg Result",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "RPR"
            },
            {
                "sid": "HgB"
            },
            {
                "sid": "ALT"
            },
            {
                "sid": "HBV"
            },
            {
                "sid": "HCV"
            },
            {
                "sid": "M/S"
            },
            {
                "sid": "CrAG"
            }
        ],
        "x": 470,
        "y": 180,
        "wires": [
            [
                "1c37280d.521308"
            ]
        ]
    },
    {
        "id": "d6d33300.09749",
        "type": "question-select",
        "z": "9d34a91.b320b58",
        "name": "Urine LAM/CrAg Result/Other",
        "label": "Urine LAM/CrAg Result/Other",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "RPR"
            },
            {
                "sid": "HgB"
            },
            {
                "sid": "ALT"
            },
            {
                "sid": "HBV"
            },
            {
                "sid": "HCV"
            },
            {
                "sid": "M/S"
            },
            {
                "sid": "CrAG"
            }
        ],
        "x": 490,
        "y": 220,
        "wires": [
            [
                "c5c62a05.990f08"
            ]
        ]
    },
    {
        "id": "c5c62a05.990f08",
        "type": "question-select",
        "z": "9d34a91.b320b58",
        "name": "WHO Stage",
        "label": "WHO Stage",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "1"
            },
            {
                "sid": "2"
            },
            {
                "sid": "3"
            },
            {
                "sid": "4"
            }
        ],
        "x": 730,
        "y": 220,
        "wires": [
            [
                "dee6e93b.9ff848"
            ]
        ]
    },
    {
        "id": "869f8d2b.8e994",
        "type": "question-select",
        "z": "9d34a91.b320b58",
        "name": "TB Status at initiation",
        "label": "TB Status at initiation",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Never"
            },
            {
                "sid": "Last >2yrs"
            },
            {
                "sid": "Last 2yrs"
            },
            {
                "sid": "Curr"
            }
        ],
        "x": 220,
        "y": 420,
        "wires": [
            [
                "51be2014.3d11f"
            ]
        ]
    },
    {
        "id": "dee6e93b.9ff848",
        "type": "question-primitive",
        "z": "9d34a91.b320b58",
        "name": "CD4",
        "label": "CD4",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "15416935.1e8dd7"
            ]
        ]
    },
    {
        "id": "51be2014.3d11f",
        "type": "question-select",
        "z": "9d34a91.b320b58",
        "name": "KS",
        "label": "KS",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "N"
            },
            {
                "sid": "Y"
            }
        ],
        "x": 210,
        "y": 460,
        "wires": [
            [
                "ec36a132.a9c28"
            ]
        ]
    },
    {
        "id": "15416935.1e8dd7",
        "type": "question-primitive",
        "z": "9d34a91.b320b58",
        "name": "CD4 Date",
        "label": "CD4 Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "37a827af.650ee8"
            ]
        ]
    },
    {
        "id": "cc36a655.527e58",
        "type": "question-select",
        "z": "9d34a91.b320b58",
        "name": "Pregnant/Breastfeeding",
        "label": "Pregnant/Breastfeeding",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "N"
            },
            {
                "sid": "Preg"
            },
            {
                "sid": "Bf"
            }
        ],
        "x": 470,
        "y": 380,
        "wires": [
            [
                "869f8d2b.8e994"
            ]
        ]
    },
    {
        "id": "ec36a132.a9c28",
        "type": "question-primitive",
        "z": "9d34a91.b320b58",
        "name": "Height",
        "label": "Height",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 210,
        "y": 500,
        "wires": [
            [
                "68c324e.11bdedc"
            ]
        ]
    },
    {
        "id": "68c324e.11bdedc",
        "type": "question-primitive",
        "z": "9d34a91.b320b58",
        "name": "Weight",
        "label": "Weight",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 210,
        "y": 540,
        "wires": [
            [
                "74f6713d.2437c"
            ]
        ]
    },
    {
        "id": "74f6713d.2437c",
        "type": "question-select",
        "z": "9d34a91.b320b58",
        "name": "Ever taken ARVs",
        "label": "Ever taken ARVs",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "N"
            },
            {
                "sid": "Y"
            }
        ],
        "x": 210,
        "y": 580,
        "wires": [
            [
                "7e61d218.b8eebc"
            ]
        ]
    },
    {
        "id": "7e61d218.b8eebc",
        "type": "question-primitive",
        "z": "9d34a91.b320b58",
        "name": "Age at Initiation",
        "label": "Age at Initiation",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 210,
        "y": 620,
        "wires": [
            [
                "a4f93f5d.38391"
            ]
        ]
    },
    {
        "id": "a4f93f5d.38391",
        "type": "question-primitive",
        "z": "9d34a91.b320b58",
        "name": "Last ARVs (drug)",
        "label": "Last ARVs (drug)",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 660,
        "wires": [
            [
                "5dba385b.f28528"
            ]
        ]
    },
    {
        "id": "bfdf9eca.ce5e3",
        "type": "question-primitive",
        "z": "9d34a91.b320b58",
        "name": "Location of ART initiation",
        "label": "Location of ART initiation",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 210,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "5f399288.df43ac",
        "type": "switch",
        "z": "9d34a91.b320b58",
        "name": "Child?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "11ba11e8.0a589e"
            ],
            [
                "d6d33300.09749"
            ]
        ]
    },
    {
        "id": "37a827af.650ee8",
        "type": "switch",
        "z": "9d34a91.b320b58",
        "name": "Adult & Female?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 200,
        "y": 380,
        "wires": [
            [
                "cc36a655.527e58"
            ],
            [
                "869f8d2b.8e994"
            ]
        ]
    },
    {
        "id": "5dba385b.f28528",
        "type": "question-primitive",
        "z": "9d34a91.b320b58",
        "name": "Last ARVs (Date)",
        "label": "Last ARVs (Date)",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 210,
        "y": 700,
        "wires": [
            [
                "bfdf9eca.ce5e3"
            ]
        ]
    },
    {
        "id": "1c37280d.521308",
        "type": "question-primitive",
        "z": "9d34a91.b320b58",
        "name": "CD4 %",
        "label": "CD4 %",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 720,
        "y": 180,
        "wires": [
            [
                "dee6e93b.9ff848"
            ]
        ]
    },
    {
        "id": "83dfb748.e73f48",
        "type": "comment",
        "z": "340fa181.b8c92e",
        "name": "ART Chart - Confirmatory HIV Test",
        "info": "",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "7512aec1.ed22b",
        "type": "question-primitive",
        "z": "340fa181.b8c92e",
        "name": "Site, HTS Serial No.",
        "label": "Site, HTS Serial No.",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "a5f09ea6.d608"
            ]
        ]
    },
    {
        "id": "a5f09ea6.d608",
        "type": "question-primitive",
        "z": "340fa181.b8c92e",
        "name": "Test Date",
        "label": "Test Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "bcefe2d8.5e85e"
            ]
        ]
    },
    {
        "id": "bcefe2d8.5e85e",
        "type": "question-select",
        "z": "340fa181.b8c92e",
        "name": "Test type",
        "label": "Test type",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Rapid"
            },
            {
                "sid": "PCR"
            }
        ],
        "x": 200,
        "y": 200,
        "wires": [
            [
                "de66fd8f.14b3a"
            ]
        ]
    },
    {
        "id": "de66fd8f.14b3a",
        "type": "question-select",
        "z": "340fa181.b8c92e",
        "name": "ART education done",
        "label": "ART education done",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "N"
            },
            {
                "sid": "Y"
            }
        ],
        "x": 200,
        "y": 240,
        "wires": [
            [
                "cfec4f5a.fad6a"
            ]
        ]
    },
    {
        "id": "cfec4f5a.fad6a",
        "type": "question-primitive",
        "z": "340fa181.b8c92e",
        "name": "ART education Date",
        "label": "ART education Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "b10c9741.5b4e28"
            ]
        ]
    },
    {
        "id": "b10c9741.5b4e28",
        "type": "question-primitive",
        "z": "340fa181.b8c92e",
        "name": "TB Treatment Reg No.",
        "label": "TB Treatment Reg No.",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "optional": true,
        "x": 200,
        "y": 320,
        "wires": [
            [
                "5997284f.9606e8"
            ]
        ]
    },
    {
        "id": "5997284f.9606e8",
        "type": "question-select",
        "z": "340fa181.b8c92e",
        "name": "TB Treatment Start Date",
        "label": "TB Treatment Start Date",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No"
            },
            {
                "sid": "Yes"
            }
        ],
        "x": 200,
        "y": 360,
        "wires": [
            [
                "7f755930.5daf98"
            ]
        ]
    },
    {
        "id": "7f755930.5daf98",
        "type": "question-primitive",
        "z": "340fa181.b8c92e",
        "name": "ART Regimens #1",
        "label": "ART Regimens #1",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "f17e17af.476d28"
            ]
        ]
    },
    {
        "id": "f17e17af.476d28",
        "type": "question-primitive",
        "z": "340fa181.b8c92e",
        "name": "ART Regimens #1 Start Date",
        "label": "ART Regimens #1 Start Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "e21942d8.427d8"
            ]
        ]
    },
    {
        "id": "e21942d8.427d8",
        "type": "question-primitive",
        "z": "340fa181.b8c92e",
        "name": "ART Regimens #2",
        "label": "ART Regimens #2",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "optional": true,
        "x": 200,
        "y": 480,
        "wires": [
            [
                "a68b756c.31c7a8"
            ]
        ]
    },
    {
        "id": "a68b756c.31c7a8",
        "type": "question-primitive",
        "z": "340fa181.b8c92e",
        "name": "ART Regimens #2 Start Date",
        "label": "ART Regimens #2 Start Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "optional": true,
        "x": 200,
        "y": 520,
        "wires": [
            [
                "e5ceb606.7fa3d8"
            ]
        ]
    },
    {
        "id": "fe067824.2a9948",
        "type": "comment",
        "z": "2ace2e04.3bb9a2",
        "name": "ART Intake / Enrolment (only in Register)",
        "info": "",
        "x": 220,
        "y": 60,
        "wires": []
    },
    {
        "id": "3da6178c.67d858",
        "type": "question-select",
        "z": "2ace2e04.3bb9a2",
        "name": "HIV Type",
        "label": "HIV Type",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "HIV 1"
            },
            {
                "sid": "HIV 2"
            },
            {
                "sid": "HIV 1&2"
            }
        ],
        "x": 200,
        "y": 200,
        "wires": [
            [
                "aa6962fb.f9bfd"
            ]
        ]
    },
    {
        "id": "f2896062.6052c",
        "type": "question-primitive",
        "z": "2ace2e04.3bb9a2",
        "name": "Date of HIV diagnosis",
        "label": "Date of HIV diagnosis",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "3da6178c.67d858"
            ]
        ]
    },
    {
        "id": "25327dd5.15a8a2",
        "type": "question-select",
        "z": "2ace2e04.3bb9a2",
        "name": "Age group",
        "label": "Age group",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Below 24 months"
            },
            {
                "sid": "2 - 14 years"
            },
            {
                "sid": "15 - 19 years"
            },
            {
                "sid": "20 - 24 years"
            },
            {
                "sid": "25+ years"
            }
        ],
        "x": 210,
        "y": 120,
        "wires": [
            [
                "f2896062.6052c"
            ]
        ]
    },
    {
        "id": "aa6962fb.f9bfd",
        "type": "question-select",
        "z": "2ace2e04.3bb9a2",
        "name": "ART Status at registration",
        "label": "ART Status at registration",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "1st time initiation"
            },
            {
                "sid": "Re-initiation"
            },
            {
                "sid": "Transfer in"
            }
        ],
        "x": 250,
        "y": 240,
        "wires": [
            [
                "6644e7d2.d93a08"
            ]
        ]
    },
    {
        "id": "6644e7d2.d93a08",
        "type": "question-select",
        "z": "2ace2e04.3bb9a2",
        "name": "Condition at ART initiation",
        "label": "Condition at ART initiation",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "1"
            },
            {
                "sid": "2"
            },
            {
                "sid": "3"
            },
            {
                "sid": "4"
            },
            {
                "sid": "PSHD"
            },
            {
                "sid": "Unknown"
            }
        ],
        "x": 250,
        "y": 280,
        "wires": [
            [
                "cda5d82.e2a2e28"
            ]
        ]
    },
    {
        "id": "cda5d82.e2a2e28",
        "type": "question-primitive",
        "z": "2ace2e04.3bb9a2",
        "name": "TPT Start date",
        "label": "TPT Start date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 220,
        "y": 320,
        "wires": [
            [
                "27b2029b.3168fe"
            ]
        ]
    },
    {
        "id": "27b2029b.3168fe",
        "type": "question-primitive",
        "z": "2ace2e04.3bb9a2",
        "name": "TPT End date",
        "label": "TPT End date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "optional": true,
        "x": 220,
        "y": 360,
        "wires": [
            [
                "f72d049.25c2ff8"
            ]
        ]
    },
    {
        "id": "f72d049.25c2ff8",
        "type": "question-primitive",
        "z": "2ace2e04.3bb9a2",
        "name": "TB Treatment End date",
        "label": "TPT End date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "optional": true,
        "x": 250,
        "y": 400,
        "wires": [
            [
                "fb0b67a7.9c36b8"
            ]
        ]
    },
    {
        "id": "fb0b67a7.9c36b8",
        "type": "question-primitive",
        "z": "2ace2e04.3bb9a2",
        "name": "Number of times client re-started ART after default or stop ",
        "label": "Number of times client re-started ART after default or stop ",
        "scope": "encounter",
        "key": "",
        "datatype": "integer",
        "optional": true,
        "x": 360,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "447a0ef0.4e232",
        "type": "question-primitive",
        "z": "a617f170.1c605",
        "name": "Visit Date",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "6500da71.d7ea34"
            ]
        ]
    },
    {
        "id": "6d901930.8fc7e8",
        "type": "question-primitive",
        "z": "a617f170.1c605",
        "name": "Age (curr)",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "a20f6918.28c508"
            ]
        ]
    },
    {
        "id": "a20f6918.28c508",
        "type": "question-primitive",
        "z": "a617f170.1c605",
        "name": "Height",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 490,
        "y": 120,
        "wires": [
            [
                "49e60b0d.a85394"
            ]
        ]
    },
    {
        "id": "49e60b0d.a85394",
        "type": "question-primitive",
        "z": "a617f170.1c605",
        "name": "Weight",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "74f61fdc.2f8b7"
            ]
        ]
    },
    {
        "id": "b04c8d7e.15f0d",
        "type": "question-select",
        "z": "a617f170.1c605",
        "name": "Pregnant/Breastfeed",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Preg"
            },
            {
                "sid": "Bf"
            }
        ],
        "x": 240,
        "y": 260,
        "wires": [
            [
                "29689ef1.1028e2"
            ]
        ]
    },
    {
        "id": "29689ef1.1028e2",
        "type": "question-primitive",
        "z": "a617f170.1c605",
        "name": "Pregnant/Breastfeed Child HCC No",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "optional": true,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "3b06c6e8.c5f2da"
            ]
        ]
    },
    {
        "id": "74f61fdc.2f8b7",
        "type": "switch",
        "z": "a617f170.1c605",
        "name": "Female and (Pregnant or breastfeeding) and (not child)?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "b04c8d7e.15f0d"
            ],
            [
                "3b06c6e8.c5f2da"
            ]
        ]
    },
    {
        "id": "6500da71.d7ea34",
        "type": "switch",
        "z": "a617f170.1c605",
        "name": "Child?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "6d901930.8fc7e8"
            ],
            [
                "49e60b0d.a85394"
            ]
        ]
    },
    {
        "id": "b1696fa7.6b7ea",
        "type": "question-select",
        "z": "1643d582.b1991a",
        "name": "TB Status (Current)",
        "label": "TB Status (Current)",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "N - TB Not suspected"
            },
            {
                "sid": "Y - TB Suspected"
            },
            {
                "sid": "C - TB confirmed NOT on TB treatment"
            },
            {
                "sid": "Rx - TB confirmed on TB Rx"
            }
        ],
        "x": 450,
        "y": 80,
        "wires": [
            [
                "e369d925.cc48e8"
            ]
        ]
    },
    {
        "id": "e369d925.cc48e8",
        "type": "question-select",
        "z": "1643d582.b1991a",
        "name": "Side Effects",
        "label": "Side Effects",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "N"
            },
            {
                "sid": "Y"
            }
        ],
        "x": 190,
        "y": 120,
        "wires": [
            [
                "ef97677b.405a18"
            ]
        ]
    },
    {
        "id": "ef97677b.405a18",
        "type": "question-primitive",
        "z": "1643d582.b1991a",
        "name": "Side Effects Notes",
        "label": "Side Effects Notes",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "8632d432.05a0a8"
            ]
        ]
    },
    {
        "id": "e138f3db.ab5e9",
        "type": "question-primitive",
        "z": "1643d582.b1991a",
        "name": "AIDS Assoc. Conditions",
        "label": "AIDS Assoc. Conditions",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "5fc8968d.556cc8"
            ]
        ]
    },
    {
        "id": "2e376ee5.992ea2",
        "type": "question-primitive",
        "z": "1643d582.b1991a",
        "name": "Pill count",
        "label": "Pill count",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "5fc8968d.556cc8"
            ]
        ]
    },
    {
        "id": "5fc8968d.556cc8",
        "type": "question-primitive",
        "z": "1643d582.b1991a",
        "name": "Doses Missed",
        "label": "Doses Missed",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "57b5ee2a.f9602"
            ]
        ]
    },
    {
        "id": "8a235bf8.2f1388",
        "type": "question-select",
        "z": "1643d582.b1991a",
        "name": "ART Regimen Adult",
        "label": "ART Regimen Adult",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "A1a - TDF + 3TC + DTG (1st Line)"
            },
            {
                "sid": "A1b - TDF + 3TC + EFV (1st Line)"
            },
            {
                "sid": "A1c - ABC + 3TC + DTG (1st Line)"
            },
            {
                "sid": "A1d - AZT + 3TC + EFV (1st Line)"
            },
            {
                "sid": "A2a -  AZT + 3TC + DTG (2nd Line)"
            },
            {
                "sid": "A2b - AZT + 3TC + LPV/r (2nd Line)"
            },
            {
                "sid": "A2c - AZT + 3TC + ATV/r (2nd Line)"
            },
            {
                "sid": "A2d - TDF + 3TC + LPV/r (2nd Line)"
            },
            {
                "sid": "A2e - TDF + 3TC + DRV/r (2nd Line)"
            }
        ],
        "x": 450,
        "y": 340,
        "wires": [
            [
                "d4062604.06fd28"
            ]
        ]
    },
    {
        "id": "d4062604.06fd28",
        "type": "question-primitive",
        "z": "1643d582.b1991a",
        "name": "ARVs Given No of tablets",
        "label": "ARVs Given No of tablets",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 230,
        "y": 380,
        "wires": [
            [
                "428db83a.0f4818"
            ]
        ]
    },
    {
        "id": "428db83a.0f4818",
        "type": "question-select",
        "z": "1643d582.b1991a",
        "name": "ARVs Given To",
        "label": "ARVs Given To",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "P"
            },
            {
                "sid": "G"
            }
        ],
        "x": 200,
        "y": 420,
        "wires": [
            [
                "f81512dd.457a5"
            ]
        ]
    },
    {
        "id": "f81512dd.457a5",
        "type": "question-select",
        "z": "1643d582.b1991a",
        "name": "CPT/TPT Given",
        "label": "CPT/TPT Given",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "C - CPT only"
            },
            {
                "sid": "I - TPT only"
            },
            {
                "sid": "CI - CPT + TPT"
            }
        ],
        "x": 200,
        "y": 460,
        "wires": [
            [
                "322a1d12.33aae2"
            ]
        ]
    },
    {
        "id": "322a1d12.33aae2",
        "type": "question-primitive",
        "z": "1643d582.b1991a",
        "name": "CPT/TPT No. of Tablets",
        "label": "CPT/TPT No. of Tablets",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "2a87392.2b8a1c6"
            ]
        ]
    },
    {
        "id": "2a87392.2b8a1c6",
        "type": "question-select",
        "z": "1643d582.b1991a",
        "name": "Stable?",
        "label": "Stable?",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Y"
            },
            {
                "sid": "N"
            }
        ],
        "x": 180,
        "y": 540,
        "wires": [
            [
                "b6b1fb0c.b06998"
            ]
        ]
    },
    {
        "id": "b6b1fb0c.b06998",
        "type": "question-select",
        "z": "1643d582.b1991a",
        "name": "Stable? DSD Model",
        "label": "Stable? DSD Model",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "1 - HIV clinic-based ART"
            },
            {
                "sid": "2 - Fast-track ART"
            },
            {
                "sid": "3 - Facility-based adherence club"
            },
            {
                "sid": "4 - Community ART Distribution point"
            },
            {
                "sid": "5 - Peer-led community ART group"
            },
            {
                "sid": "6 - Patient-led community ART group"
            }
        ],
        "x": 210,
        "y": 580,
        "wires": [
            [
                "1224fa3b.a545e6"
            ]
        ]
    },
    {
        "id": "9aa2965d.dbe728",
        "type": "question-select",
        "z": "1643d582.b1991a",
        "name": "Viral Load Sample taken",
        "label": "Viral Load Sample taken",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Bled"
            }
        ],
        "x": 610,
        "y": 660,
        "wires": [
            [
                "6dacd2b9.a661cc"
            ]
        ]
    },
    {
        "id": "5a58e2c2.42d4dc",
        "type": "question-primitive",
        "z": "1643d582.b1991a",
        "name": "Next Appointment/Outcome Date",
        "label": "Next Appointment/Outcome Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 260,
        "y": 740,
        "wires": [
            [
                "c4af907d.c3317"
            ]
        ]
    },
    {
        "id": "c4af907d.c3317",
        "type": "question-select",
        "z": "1643d582.b1991a",
        "name": "Outcome",
        "label": "Outcome",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Died"
            },
            {
                "sid": "Defaulted/LTFU"
            },
            {
                "sid": "Client stopped medication"
            },
            {
                "sid": "Transferred out"
            }
        ],
        "x": 180,
        "y": 780,
        "wires": [
            [
                "5a67260f.aacc38"
            ]
        ]
    },
    {
        "id": "8632d432.05a0a8",
        "type": "switch",
        "z": "1643d582.b1991a",
        "name": "Child?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "2e376ee5.992ea2"
            ],
            [
                "e138f3db.ab5e9"
            ]
        ]
    },
    {
        "id": "57b5ee2a.f9602",
        "type": "switch",
        "z": "1643d582.b1991a",
        "name": "Child?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "8115bea1.a4c31"
            ],
            [
                "8a235bf8.2f1388"
            ]
        ]
    },
    {
        "id": "8115bea1.a4c31",
        "type": "question-select",
        "z": "1643d582.b1991a",
        "name": "ART Regimen Child",
        "label": "ART Regimen Child",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "A1a - TDF + 3TC + DTG (1st Line)"
            },
            {
                "sid": "A1b - TDF + 3TC + EFV (1st Line)"
            },
            {
                "sid": "A1c - ABC + 3TC + DTG (1st Line)"
            },
            {
                "sid": "A1d - AZT + 3TC + EFV (1st Line)"
            },
            {
                "sid": "A2a -  AZT + 3TC + DTG (2nd Line)"
            },
            {
                "sid": "A2b - AZT + 3TC + LPV/r (2nd Line)"
            },
            {
                "sid": "A2c - AZT + 3TC + ATV/r (2nd Line)"
            },
            {
                "sid": "A2d - TDF + 3TC + LPV/r (2nd Line)"
            },
            {
                "sid": "A2e - TDF + 3TC + DRV/r (2nd Line)"
            }
        ],
        "x": 450,
        "y": 300,
        "wires": [
            [
                "d4062604.06fd28"
            ]
        ]
    },
    {
        "id": "2ddca830.c798e8",
        "type": "question-primitive",
        "z": "d5cb0610.e75008",
        "name": "Visit Date",
        "label": "Visit Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "e0d9f482.02dee8"
            ]
        ]
    },
    {
        "id": "e0d9f482.02dee8",
        "type": "question-primitive",
        "z": "d5cb0610.e75008",
        "name": "Height",
        "label": "Height",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "444c2713.4dedd8"
            ]
        ]
    },
    {
        "id": "444c2713.4dedd8",
        "type": "question-primitive",
        "z": "d5cb0610.e75008",
        "name": "Weight",
        "label": "Weight",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "41019334.725a9c"
            ]
        ]
    },
    {
        "id": "9c947670.675af8",
        "type": "question-primitive",
        "z": "d5cb0610.e75008",
        "name": "MUAC",
        "label": "MUAC",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 370,
        "y": 200,
        "wires": [
            [
                "46b2a0c4.41a7"
            ]
        ]
    },
    {
        "id": "41019334.725a9c",
        "type": "switch",
        "z": "d5cb0610.e75008",
        "name": "6 months or older?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "9c947670.675af8"
            ],
            [
                "46b2a0c4.41a7"
            ]
        ]
    },
    {
        "id": "2a4b7cd3.ca8784",
        "type": "comment",
        "z": "dc4d15f8.c825c8",
        "name": "Exp Infant Chart - Child",
        "info": "",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "eedefb7c.4c5478",
        "type": "question-primitive",
        "z": "dc4d15f8.c825c8",
        "name": "Transfer-In Date",
        "label": "Transfer-In Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 200,
        "y": 480,
        "wires": [
            [
                "4928200a.fe2dc"
            ]
        ]
    },
    {
        "id": "4928200a.fe2dc",
        "type": "question-primitive",
        "z": "dc4d15f8.c825c8",
        "name": "Guardian Name",
        "label": "Guardian Name",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "optional": false,
        "x": 200,
        "y": 520,
        "wires": [
            [
                "f4639225.b2139"
            ]
        ]
    },
    {
        "id": "f4639225.b2139",
        "type": "question-select",
        "z": "dc4d15f8.c825c8",
        "name": "Agree to FUP",
        "label": "Agree to FUP",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "N"
            },
            {
                "sid": "Y"
            }
        ],
        "x": 200,
        "y": 560,
        "wires": [
            [
                "a560a5fd.9260f8"
            ]
        ]
    },
    {
        "id": "a560a5fd.9260f8",
        "type": "question-primitive",
        "z": "dc4d15f8.c825c8",
        "name": "Guardian Relation",
        "label": "Guardian Relation",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "optional": true,
        "x": 210,
        "y": 600,
        "wires": [
            [
                "1c0b8c9a.f51c43"
            ]
        ]
    },
    {
        "id": "1c0b8c9a.f51c43",
        "type": "question-primitive",
        "z": "dc4d15f8.c825c8",
        "name": "Guardian Phone",
        "label": "Guardian Phone",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "optional": true,
        "x": 200,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "b613021f.3adc9",
        "type": "comment",
        "z": "e4a163f.bcc78a",
        "name": "Exp Infant Chart - Status",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "e8f47685.f065c8",
        "type": "question-primitive",
        "z": "e4a163f.bcc78a",
        "name": "ART Reg No",
        "label": "ART Reg No",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "fd11bb47.f0af68"
            ]
        ]
    },
    {
        "id": "fd11bb47.f0af68",
        "type": "question-primitive",
        "z": "e4a163f.bcc78a",
        "name": "ART Start Date",
        "label": "ART Start Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "efe7e37.2873f2"
            ]
        ]
    },
    {
        "id": "efe7e37.2873f2",
        "type": "question-primitive",
        "z": "e4a163f.bcc78a",
        "name": "Child Age - At enrolment",
        "label": "Child Age - At enrolment",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "3344cb82.23a934"
            ]
        ]
    },
    {
        "id": "3344cb82.23a934",
        "type": "question-primitive",
        "z": "e4a163f.bcc78a",
        "name": "Child age - When starting NVP",
        "label": "Child age - When starting NVP",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "optional": true,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "f4da2592.cc43b8"
            ]
        ]
    },
    {
        "id": "f4da2592.cc43b8",
        "type": "question-primitive",
        "z": "e4a163f.bcc78a",
        "name": "NVP duration",
        "label": "NVP duration",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "optional": true,
        "x": 190,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "aad4c8da.e9b5a8",
        "type": "comment",
        "z": "69e3b9ba.723bc8",
        "name": "Exp Infant Chart - HIV Testing",
        "info": "",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "b6fe09d2.2a9958",
        "type": "question-primitive",
        "z": "69e3b9ba.723bc8",
        "name": "Sample Date",
        "label": "Sample Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "2acb0c6e.98bba4"
            ]
        ]
    },
    {
        "id": "2acb0c6e.98bba4",
        "type": "question-select",
        "z": "69e3b9ba.723bc8",
        "name": "Type",
        "label": "Type",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "DBS"
            },
            {
                "sid": "RT"
            }
        ],
        "x": 200,
        "y": 160,
        "wires": [
            [
                "7f5409c7.4330c8"
            ]
        ]
    },
    {
        "id": "7f5409c7.4330c8",
        "type": "question-primitive",
        "z": "69e3b9ba.723bc8",
        "name": "Sample ID/HCT",
        "label": "Sample ID/HCT",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "8669f1a8.6753c"
            ]
        ]
    },
    {
        "id": "8669f1a8.6753c",
        "type": "question-select",
        "z": "69e3b9ba.723bc8",
        "name": "Result",
        "label": "Result",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Neg"
            },
            {
                "sid": "Pos"
            },
            {
                "sid": "Inc"
            }
        ],
        "x": 200,
        "y": 240,
        "wires": [
            [
                "19b151c1.fff8de"
            ]
        ]
    },
    {
        "id": "19b151c1.fff8de",
        "type": "question-primitive",
        "z": "69e3b9ba.723bc8",
        "name": "From lab",
        "label": "From lab",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "39ae6d4d.b35712"
            ]
        ]
    },
    {
        "id": "39ae6d4d.b35712",
        "type": "question-primitive",
        "z": "69e3b9ba.723bc8",
        "name": "tests",
        "label": "tests",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "4a5a9bbc.6299c4",
        "type": "question-select",
        "z": "7d846b81.1913b4",
        "name": "Wasting/Malnutrition (based on Wt/Hgt or MUAC)",
        "label": "Wasting/Malnutrition (based on Wt/Hgt or MUAC)",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No"
            },
            {
                "sid": "Mod"
            },
            {
                "sid": "Sev"
            }
        ],
        "x": 270,
        "y": 140,
        "wires": [
            [
                "bb6ffd9d.a6755"
            ]
        ]
    },
    {
        "id": "bb6ffd9d.a6755",
        "type": "question-select",
        "z": "7d846b81.1913b4",
        "name": "Breast feeding",
        "label": "Breast feeding",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Ongoing - Exclusive"
            },
            {
                "sid": "Ongoing - Mixed/Complementary"
            },
            {
                "sid": "Stopped - In last 6 weeks"
            },
            {
                "sid": "Stopped - Over 6 weeks age"
            }
        ],
        "x": 270,
        "y": 180,
        "wires": [
            [
                "7f218d1c.aa0584"
            ]
        ]
    },
    {
        "id": "7f218d1c.aa0584",
        "type": "question-select",
        "z": "7d846b81.1913b4",
        "name": "Mother Status",
        "label": "Mother Status",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Not On ART"
            },
            {
                "sid": "ART Adherent"
            },
            {
                "sid": "Died"
            },
            {
                "sid": "Unknown"
            }
        ],
        "x": 270,
        "y": 220,
        "wires": [
            [
                "ea4eec5c.17aed"
            ]
        ]
    },
    {
        "id": "ea4eec5c.17aed",
        "type": "question-select",
        "z": "7d846b81.1913b4",
        "name": "Clinical Monitoring",
        "label": "Clinical Monitoring",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No Abnorm. Det"
            },
            {
                "sid": "Any sickness"
            }
        ],
        "x": 270,
        "y": 260,
        "wires": [
            [
                "a674e866.911268"
            ]
        ]
    },
    {
        "id": "a674e866.911268",
        "type": "question-select",
        "z": "7d846b81.1913b4",
        "name": "HIV Testing",
        "label": "HIV Testing",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Not done"
            },
            {
                "sid": "DBS taken (PCR)"
            },
            {
                "sid": "Rapid test done"
            }
        ],
        "x": 270,
        "y": 300,
        "wires": [
            [
                "bd0401e2.bf43d"
            ]
        ]
    },
    {
        "id": "bd0401e2.bf43d",
        "type": "question-select",
        "z": "7d846b81.1913b4",
        "name": "HIV Infection",
        "label": "HIV Infection",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Confirmed - Not infected"
            },
            {
                "sid": "Confirmed - Infected ART"
            },
            {
                "sid": "Not confirmed - Not ART eligible"
            },
            {
                "sid": "Not confirmed - PSHD"
            }
        ],
        "x": 270,
        "y": 340,
        "wires": [
            [
                "401dc0b7.9a2b8"
            ]
        ]
    },
    {
        "id": "401dc0b7.9a2b8",
        "type": "question-primitive",
        "z": "7d846b81.1913b4",
        "name": "CPT given (ml/tabs)",
        "label": "CPT given (ml/tabs)",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 270,
        "y": 380,
        "wires": [
            [
                "b92a7288.ae701"
            ]
        ]
    },
    {
        "id": "b92a7288.ae701",
        "type": "question-select",
        "z": "7d846b81.1913b4",
        "name": "Follow-Up Outcome",
        "label": "Follow-Up Outcome",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Continnue FUP"
            },
            {
                "sid": "Discharge Uninfected"
            },
            {
                "sid": "Started ART"
            },
            {
                "sid": "Transfer out"
            },
            {
                "sid": "Defaulted"
            },
            {
                "sid": "Died"
            }
        ],
        "x": 270,
        "y": 420,
        "wires": [
            [
                "4e50bfc.a0a5d4"
            ]
        ]
    },
    {
        "id": "4e50bfc.a0a5d4",
        "type": "question-primitive",
        "z": "7d846b81.1913b4",
        "name": "Next appointment/Outcome Date",
        "label": "Next appointment/Outcome Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 270,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "451388c5.870eb8",
        "type": "summary",
        "z": "7d846b81.1913b4",
        "name": "",
        "x": 280,
        "y": 100,
        "wires": [
            [
                "4a5a9bbc.6299c4"
            ]
        ],
        "info": "Show weight & height & muac"
    },
    {
        "id": "d8d59681.67bdc8",
        "type": "comment",
        "z": "a617f170.1c605",
        "name": "ART Visit: Vitals",
        "info": "",
        "x": 160,
        "y": 20,
        "wires": []
    },
    {
        "id": "31c73880.41ab48",
        "type": "comment",
        "z": "1643d582.b1991a",
        "name": "ART Visit",
        "info": "",
        "x": 140,
        "y": 20,
        "wires": []
    },
    {
        "id": "4ccfcd31.5d9fc4",
        "type": "comment",
        "z": "d5cb0610.e75008",
        "name": "Exp Infant: Vitals",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "78b65795.0f0f08",
        "type": "comment",
        "z": "7d846b81.1913b4",
        "name": "Exp Infant Visit",
        "info": "",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "46b2a0c4.41a7",
        "type": "function",
        "z": "d5cb0610.e75008",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "3b06c6e8.c5f2da",
        "type": "summary",
        "z": "a617f170.1c605",
        "name": "",
        "x": 660,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "623c7d4e.d18f04",
        "type": "switch",
        "z": "1643d582.b1991a",
        "name": "Viral Load necessary?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 700,
        "wires": [
            [
                "9aa2965d.dbe728"
            ],
            [
                "5a58e2c2.42d4dc"
            ]
        ]
    },
    {
        "id": "1224fa3b.a545e6",
        "type": "switch",
        "z": "1643d582.b1991a",
        "name": "1st Viral Load after 6months?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 620,
        "wires": [
            [
                "9aa2965d.dbe728"
            ],
            [
                "1e72f7cb.3f63d8"
            ]
        ]
    },
    {
        "id": "1e72f7cb.3f63d8",
        "type": "switch",
        "z": "1643d582.b1991a",
        "name": "Viral Load every 12 months?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 320,
        "y": 660,
        "wires": [
            [
                "9aa2965d.dbe728"
            ],
            [
                "623c7d4e.d18f04"
            ]
        ]
    },
    {
        "id": "6dacd2b9.a661cc",
        "type": "print-barcode",
        "z": "1643d582.b1991a",
        "name": "",
        "x": 640,
        "y": 700,
        "wires": [
            [
                "5a67260f.aacc38"
            ]
        ]
    },
    {
        "id": "5a67260f.aacc38",
        "type": "summary",
        "z": "1643d582.b1991a",
        "name": "",
        "x": 620,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "d9c943e9.6568d",
        "type": "create-patient",
        "z": "6467ceb9.0eaa4",
        "name": "",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "7098ebc1.67e864"
            ]
        ]
    },
    {
        "id": "42682891.4504c8",
        "type": "question-primitive",
        "z": "6467ceb9.0eaa4",
        "name": "Unique Code",
        "label": "Unique Code",
        "scope": "demographic",
        "key": "",
        "datatype": "text",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "541f9430.ec979c"
            ]
        ]
    },
    {
        "id": "d29e0668.becb78",
        "type": "demographic-birthdate",
        "z": "6467ceb9.0eaa4",
        "name": "",
        "entrybyage": "",
        "partialdate": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "7719ce4f.e02b"
            ]
        ]
    },
    {
        "id": "541f9430.ec979c",
        "type": "question-primitive",
        "z": "6467ceb9.0eaa4",
        "name": "Facility Client #",
        "label": "Facility Client #",
        "scope": "demographic",
        "key": "",
        "datatype": "text",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "cad521a.643b8e"
            ]
        ]
    },
    {
        "id": "cad521a.643b8e",
        "type": "question-primitive",
        "z": "6467ceb9.0eaa4",
        "name": "Cohort #",
        "label": "Cohort #",
        "scope": "demographic",
        "key": "",
        "datatype": "text",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "3cfe6f0b.c2363"
            ]
        ]
    },
    {
        "id": "3cfe6f0b.c2363",
        "type": "question-primitive",
        "z": "6467ceb9.0eaa4",
        "name": "givenname",
        "label": "givenname",
        "scope": "demographic",
        "key": "",
        "datatype": "text",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "7defe26.ffdcd1c"
            ]
        ]
    },
    {
        "id": "7defe26.ffdcd1c",
        "type": "question-primitive",
        "z": "6467ceb9.0eaa4",
        "name": "familyname",
        "label": "familyname",
        "scope": "demographic",
        "key": "",
        "datatype": "text",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "75a6a57f.2c4c6c"
            ]
        ]
    },
    {
        "id": "e5272788.457b58",
        "type": "question-primitive",
        "z": "6467ceb9.0eaa4",
        "name": "Phone Patient",
        "label": "Phone Patient",
        "scope": "demographic",
        "key": "",
        "datatype": "text",
        "optional": true,
        "x": 180,
        "y": 440,
        "wires": [
            [
                "d9c943e9.6568d"
            ]
        ]
    },
    {
        "id": "75a6a57f.2c4c6c",
        "type": "question-primitive",
        "z": "6467ceb9.0eaa4",
        "name": "Sex",
        "label": "Sex",
        "scope": "demographic",
        "key": "",
        "datatype": "text",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "d29e0668.becb78"
            ]
        ]
    },
    {
        "id": "7098ebc1.67e864",
        "type": "set-encountertype",
        "z": "6467ceb9.0eaa4",
        "name": "",
        "encounterType": "art-register",
        "x": 510,
        "y": 280,
        "wires": [
            [
                "1a67bdec.f3c132"
            ]
        ]
    },
    {
        "id": "a7c9ecc8.4420a",
        "type": "set-encountertype",
        "z": "dc4d15f8.c825c8",
        "name": "",
        "encounterType": "expinfant-register",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "eedefb7c.4c5478"
            ]
        ]
    },
    {
        "id": "a19aba08.757b98",
        "type": "question-primitive",
        "z": "dc4d15f8.c825c8",
        "name": "Sex",
        "label": "",
        "scope": "demographic",
        "key": "",
        "datatype": "string",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "4fc07fd1.09cc7"
            ]
        ]
    },
    {
        "id": "3ffd8712.7127e8",
        "type": "question-primitive",
        "z": "dc4d15f8.c825c8",
        "name": "familyname",
        "label": "",
        "scope": "demographic",
        "key": "familyname",
        "datatype": "string",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "a19aba08.757b98"
            ]
        ]
    },
    {
        "id": "2bf878ed.2bfcf8",
        "type": "question-primitive",
        "z": "dc4d15f8.c825c8",
        "name": "Givenname",
        "label": "",
        "scope": "demographic",
        "key": "givenname",
        "datatype": "string",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "3ffd8712.7127e8"
            ]
        ]
    },
    {
        "id": "ef734813.ccb898",
        "type": "question-primitive",
        "z": "dc4d15f8.c825c8",
        "name": "Birth Cohort",
        "label": "",
        "scope": "demographic",
        "key": "",
        "datatype": "string",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "2bf878ed.2bfcf8"
            ]
        ]
    },
    {
        "id": "c228b7c7.6ccee8",
        "type": "question-primitive",
        "z": "dc4d15f8.c825c8",
        "name": "Unique Code",
        "label": "",
        "scope": "demographic",
        "key": "",
        "datatype": "string",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "dddde1b0.50d0d"
            ]
        ]
    },
    {
        "id": "dddde1b0.50d0d",
        "type": "question-primitive",
        "z": "dc4d15f8.c825c8",
        "name": "Facility Client #",
        "label": "",
        "scope": "demographic",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "ef734813.ccb898"
            ]
        ]
    },
    {
        "id": "248e8a58.28f346",
        "type": "create-patient",
        "z": "dc4d15f8.c825c8",
        "name": "",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "a7c9ecc8.4420a"
            ]
        ]
    },
    {
        "id": "9e2278b8.90b6d8",
        "type": "summary-chart-art",
        "z": "1643d582.b1991a",
        "name": "",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "b1696fa7.6b7ea"
            ]
        ]
    },
    {
        "id": "7719ce4f.e02b",
        "type": "address-liberia",
        "z": "6467ceb9.0eaa4",
        "name": "Detailed Physical Address",
        "label": "",
        "scope": "demographic",
        "key": "address",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "e5272788.457b58"
            ]
        ]
    },
    {
        "id": "4fc07fd1.09cc7",
        "type": "address-liberia",
        "z": "dc4d15f8.c825c8",
        "name": "",
        "scope": "demographic",
        "key": "address",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "248e8a58.28f346"
            ]
        ]
    },
    {
        "id": "e5ceb606.7fa3d8",
        "type": "blood-pressure",
        "z": "340fa181.b8c92e",
        "name": "",
        "label": "",
        "key": "bp",
        "x": 200,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "1daa7fff.0bbab",
        "type": "question-primitive",
        "z": "4148c8ad.2bc0b8",
        "name": "Height",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "integer",
        "optional": "",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "fa328621.476508"
            ]
        ]
    },
    {
        "id": "fa328621.476508",
        "type": "question-primitive",
        "z": "4148c8ad.2bc0b8",
        "name": "Weight",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "optional": "",
        "x": 510,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "e1cb7e8.96721",
        "type": "switch",
        "z": "4148c8ad.2bc0b8",
        "name": "age?",
        "property": "currentPatient.age",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "btwn",
                "v": "2",
                "vt": "num",
                "v2": "18",
                "v2t": "num"
            },
            {
                "t": "gte",
                "v": "18",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 190,
        "y": 100,
        "wires": [
            [
                "1daa7fff.0bbab"
            ],
            [
                "fa328621.476508"
            ],
            [
                "fd5df4a5.03b948"
            ]
        ]
    },
    {
        "id": "15ee1219.4726de",
        "type": "question-primitive",
        "z": "4148c8ad.2bc0b8",
        "name": "MUAC",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "integer",
        "optional": "",
        "x": 330,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "fd5df4a5.03b948",
        "type": "show-video",
        "z": "4148c8ad.2bc0b8",
        "name": "",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "15ee1219.4726de"
            ]
        ]
    },
    {
        "id": "6598135e.5bbd3c",
        "type": "switch",
        "z": "128d8803.8b8dd8",
        "name": "Time since ART start",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Between milestones",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Around milestones",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Less than 6 months",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 740,
        "y": 140,
        "wires": [
            [
                "eabf2250.50e03"
            ],
            [
                "19c1c12c.558b6f"
            ],
            []
        ]
    },
    {
        "id": "eabf2250.50e03",
        "type": "switch",
        "z": "128d8803.8b8dd8",
        "name": "Ever had VL",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ever",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Never",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 120,
        "wires": [
            [
                "aab196c1.588c58"
            ],
            [
                "19c1c12c.558b6f"
            ]
        ]
    },
    {
        "id": "dcc0a522.adbbf8",
        "type": "switch",
        "z": "128d8803.8b8dd8",
        "name": "Clinical condition",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Not well",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Well",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1370,
        "y": 100,
        "wires": [
            [
                "8ec3f8d7.3d7638"
            ],
            []
        ]
    },
    {
        "id": "b049f8d3.a5fd28",
        "type": "switch",
        "z": "128d8803.8b8dd8",
        "name": "Detectable VL",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Any detectable VL",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Below detection limit",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 220,
        "wires": [
            [
                "ad12af5a.c4407"
            ],
            [
                "68e2e9cb.46bf58"
            ]
        ]
    },
    {
        "id": "1c4364cd.b237db",
        "type": "question-primitive",
        "z": "128d8803.8b8dd8",
        "name": "Intensive Adh Support",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 1160,
        "y": 200,
        "wires": [
            [
                "69c43d8a.5c8c14"
            ]
        ]
    },
    {
        "id": "80ae2a91.276df8",
        "type": "switch",
        "z": "128d8803.8b8dd8",
        "name": "Current Regimen",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0 - 6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7 - 15",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 340,
        "wires": [
            [
                "65c88a64.75bf14"
            ],
            [
                "7721b84b.4825d8"
            ]
        ]
    },
    {
        "id": "5a4bf142.936f4",
        "type": "switch",
        "z": "128d8803.8b8dd8",
        "name": "VL (copies / ml)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Below detection limit (DL)",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1000+",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Above DL, but <1000",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 800,
        "y": 340,
        "wires": [
            [
                "c636b117.e4d7c"
            ],
            [
                "e57d9122.b943b"
            ],
            [
                "594e7e76.2be4"
            ]
        ]
    },
    {
        "id": "65c88a64.75bf14",
        "type": "question-select",
        "z": "128d8803.8b8dd8",
        "name": "Start 2nd Line",
        "label": "Start 2nd Line",
        "scope": "encounter",
        "key": "",
        "behavior": "",
        "devices": [
            {
                "sid": "2nd Line"
            }
        ],
        "x": 1360,
        "y": 320,
        "wires": [
            [
                "14ad6ec0.670881"
            ]
        ]
    },
    {
        "id": "3c31299b.a58d66",
        "type": "question-primitive",
        "z": "128d8803.8b8dd8",
        "name": "Intensive Adh Support",
        "label": "Intensive Adh Support",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "optional": false,
        "x": 1220,
        "y": 400,
        "wires": [
            [
                "e1494425.886ed8"
            ]
        ]
    },
    {
        "id": "7721b84b.4825d8",
        "type": "summary",
        "z": "128d8803.8b8dd8",
        "name": "Poor adherence or failure",
        "x": 1390,
        "y": 360,
        "wires": [
            [
                "9f531852.7323d8"
            ]
        ],
        "info": "<h1>Poor adherence or failure</h1>"
    },
    {
        "id": "14ad6ec0.670881",
        "type": "summary",
        "z": "128d8803.8b8dd8",
        "name": "Confirmed failure",
        "x": 1570,
        "y": 320,
        "wires": [
            []
        ],
        "info": "<h1>Confirmed failure</h1>"
    },
    {
        "id": "594e7e76.2be4",
        "type": "summary",
        "z": "128d8803.8b8dd8",
        "name": "Potential failure",
        "x": 1000,
        "y": 400,
        "wires": [
            [
                "3c31299b.a58d66"
            ]
        ],
        "info": "<h1>Potential failure</h1>"
    },
    {
        "id": "c636b117.e4d7c",
        "type": "summary",
        "z": "128d8803.8b8dd8",
        "name": "Below Detection Limit (DL)",
        "x": 1040,
        "y": 280,
        "wires": [
            [
                "eaaa7635.a55248"
            ]
        ],
        "info": "<h1>Potential failure</h1>"
    },
    {
        "id": "e57d9122.b943b",
        "type": "summary",
        "z": "128d8803.8b8dd8",
        "name": "1000+",
        "x": 970,
        "y": 340,
        "wires": [
            [
                "80ae2a91.276df8"
            ]
        ],
        "info": "<h1>1000+</h1>"
    },
    {
        "id": "68e2e9cb.46bf58",
        "type": "summary",
        "z": "128d8803.8b8dd8",
        "name": "Below detection limit",
        "x": 940,
        "y": 240,
        "wires": [
            [
                "b6557126.0ce8a"
            ]
        ],
        "info": "<h1>Below detection limit</h1>"
    },
    {
        "id": "ad12af5a.c4407",
        "type": "summary",
        "z": "128d8803.8b8dd8",
        "name": "Any detectable VL",
        "x": 930,
        "y": 200,
        "wires": [
            [
                "1c4364cd.b237db"
            ]
        ],
        "info": "<h1>Any detectable VL</h1>"
    },
    {
        "id": "aab196c1.588c58",
        "type": "question-select",
        "z": "128d8803.8b8dd8",
        "name": "Clinical condition",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "well"
            },
            {
                "sid": "not well"
            }
        ],
        "x": 1150,
        "y": 100,
        "wires": [
            [
                "dcc0a522.adbbf8"
            ]
        ]
    },
    {
        "id": "6156dabd.252114",
        "type": "switch",
        "z": "128d8803.8b8dd8",
        "name": "VL Result avail",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "None",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Routine Result avail",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Targeted/Follow-up Result avail",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 300,
        "y": 220,
        "wires": [
            [
                "ac6c687.5145d98"
            ],
            [
                "ac284982.355238"
            ],
            [
                "2e53e4e6.6dab4c"
            ]
        ]
    },
    {
        "id": "eaaa7635.a55248",
        "type": "summary",
        "z": "128d8803.8b8dd8",
        "name": "Continue current regimen",
        "x": 1310,
        "y": 280,
        "wires": [
            []
        ],
        "info": "<h1>Continue current regimen</h1>"
    },
    {
        "id": "b6557126.0ce8a",
        "type": "summary",
        "z": "128d8803.8b8dd8",
        "name": "Continue current regimen",
        "x": 1190,
        "y": 240,
        "wires": [
            []
        ],
        "info": "<h1>Continue current regimen</h1>"
    },
    {
        "id": "9c85c55b.37704",
        "type": "switch",
        "z": "8597eba8.d8b1e8",
        "name": "Time on ART treatment?",
        "property": "monthsOnTreatment",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "lte",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "6",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 80,
        "wires": [
            [],
            [
                "8752baa9.461798"
            ]
        ]
    },
    {
        "id": "8752baa9.461798",
        "type": "switch",
        "z": "8597eba8.d8b1e8",
        "name": "Ever had a VL?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "6128ffeb.5975b8"
            ],
            [
                "a47d183c.048828"
            ]
        ]
    },
    {
        "id": "a47d183c.048828",
        "type": "switch",
        "z": "8597eba8.d8b1e8",
        "name": "Last VL 12+ months ago?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "6128ffeb.5975b8"
            ],
            []
        ]
    },
    {
        "id": "6128ffeb.5975b8",
        "type": "lab-order-entry",
        "z": "8597eba8.d8b1e8",
        "name": "Order VL test",
        "panel": "",
        "x": 430,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ac6c687.5145d98",
        "type": "lab-test-result",
        "z": "128d8803.8b8dd8",
        "name": "No/no new result",
        "x": 510,
        "y": 140,
        "wires": [
            [
                "6598135e.5bbd3c"
            ]
        ]
    },
    {
        "id": "ac284982.355238",
        "type": "lab-test-result",
        "z": "128d8803.8b8dd8",
        "name": "New Routine result",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "b049f8d3.a5fd28"
            ]
        ]
    },
    {
        "id": "2e53e4e6.6dab4c",
        "type": "lab-test-result",
        "z": "128d8803.8b8dd8",
        "name": "New Targeted/Follow-up result",
        "x": 550,
        "y": 340,
        "wires": [
            [
                "5a4bf142.936f4"
            ]
        ]
    },
    {
        "id": "19c1c12c.558b6f",
        "type": "lab-order-entry",
        "z": "128d8803.8b8dd8",
        "name": "Order: VL Routing schedule",
        "panel": "",
        "x": 1180,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8ec3f8d7.3d7638",
        "type": "lab-order-entry",
        "z": "128d8803.8b8dd8",
        "name": "Order: VL Targeted Follow-up VL",
        "panel": "",
        "x": 1640,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "69c43d8a.5c8c14",
        "type": "lab-order-entry",
        "z": "128d8803.8b8dd8",
        "name": "Order: VL Targeted Follow-up VL",
        "panel": "",
        "x": 1440,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9f531852.7323d8",
        "type": "lab-order-entry",
        "z": "128d8803.8b8dd8",
        "name": "Order: Genotype testing",
        "panel": "",
        "x": 1650,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "e1494425.886ed8",
        "type": "lab-order-entry",
        "z": "128d8803.8b8dd8",
        "name": "Order: VL Targeted Follow-up VL",
        "panel": "",
        "x": 1500,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "b9037850.995ee8",
        "type": "comment",
        "z": "4148c8ad.2bc0b8",
        "name": "Height, Weight, MUAC",
        "info": "",
        "x": 340,
        "y": 20,
        "wires": []
    },
    {
        "id": "6da91541.7cd9ec",
        "type": "case-start",
        "z": "926db3bd.4273a",
        "name": "",
        "includename": "",
        "includeidentifier": "",
        "program": "",
        "expression": "",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "886d790d.991d98"
            ]
        ]
    },
    {
        "id": "e9c48503.cd9828",
        "type": "case-end",
        "z": "926db3bd.4273a",
        "name": "",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "e7393ec6.c29fd",
        "type": "question-primitive",
        "z": "926db3bd.4273a",
        "name": "",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "integer",
        "optional": "",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "e9c48503.cd9828"
            ]
        ]
    },
    {
        "id": "886d790d.991d98",
        "type": "question-select",
        "z": "926db3bd.4273a",
        "name": "",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Primitive"
            },
            {
                "sid": "Birthdate"
            },
            {
                "sid": "Height Weight"
            },
            {
                "sid": "Barcode scan"
            },
            {
                "sid": "Show video"
            },
            {
                "sid": "Function"
            }
        ],
        "x": 140,
        "y": 120,
        "wires": [
            [
                "efa48f1f.4ad01"
            ]
        ]
    },
    {
        "id": "2817e68f.5f15aa",
        "type": "demographic-birthdate",
        "z": "926db3bd.4273a",
        "name": "",
        "entrybyage": "",
        "partialdate": "",
        "x": 440,
        "y": 140,
        "wires": [
            [
                "e9c48503.cd9828"
            ]
        ]
    },
    {
        "id": "9f3b5f9.b5abaa",
        "type": "height-weight",
        "z": "926db3bd.4273a",
        "name": "",
        "label": "",
        "keyHeight": "height",
        "keyWeight": "weight",
        "x": 460,
        "y": 180,
        "wires": [
            [
                "e9c48503.cd9828"
            ]
        ]
    },
    {
        "id": "b7cc75ef.7fc368",
        "type": "show-video",
        "z": "926db3bd.4273a",
        "name": "",
        "x": 450,
        "y": 300,
        "wires": [
            [
                "e9c48503.cd9828"
            ]
        ]
    },
    {
        "id": "952c36c5.4dd268",
        "type": "scan-barcode",
        "z": "926db3bd.4273a",
        "name": "",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "e9c48503.cd9828"
            ]
        ]
    },
    {
        "id": "f515b3af.f6adf",
        "type": "function",
        "z": "926db3bd.4273a",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 380,
        "wires": [
            [
                "e9c48503.cd9828"
            ]
        ]
    },
    {
        "id": "efa48f1f.4ad01",
        "type": "switch",
        "z": "926db3bd.4273a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Primitive",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Birthdate",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Height Weight",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Barcode scan",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Show video",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Function",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "e7393ec6.c29fd"
            ],
            [
                "2817e68f.5f15aa"
            ],
            [
                "9f3b5f9.b5abaa"
            ],
            [
                "952c36c5.4dd268"
            ],
            [
                "b7cc75ef.7fc368"
            ],
            [
                "f515b3af.f6adf"
            ]
        ]
    }
]