flows_ChristiansMBP2.fritz.box.json
[
    {
        "id": "7bb2ebe7.96f244",
        "type": "tab",
        "label": "LH: Guided Initial Form",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4264e7c2.1cb758",
        "type": "tab",
        "label": "LH: ALUP",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9185b60c.57bde8",
        "type": "tab",
        "label": "REGISTRATION",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fdaaf239.29a72",
        "type": "tab",
        "label": "VITALS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6f9b6207.f884cc",
        "type": "tab",
        "label": "APPOINTMENT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d928340.39217d",
        "type": "tab",
        "label": "HIV CLINIC REGISTRATION",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b5d2c5b0.005858",
        "type": "tab",
        "label": "LAB",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d4582ad8.5c0858",
        "type": "tab",
        "label": "TREATMENT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1ad0def7.993201",
        "type": "tab",
        "label": "HIV RECEPTION",
        "disabled": false,
        "info": ""
    },
    {
        "id": "829a2298.a2c9c",
        "type": "tab",
        "label": "HIV STAGING",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ab0f1e66.e04cf",
        "type": "tab",
        "label": "HIV CLINIC CONSULTATION",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e3639396.0a138",
        "type": "tab",
        "label": "DISPENSING",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f1f97173.39b7a",
        "type": "tab",
        "label": "LAB ORDERS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b50e434f.74437",
        "type": "tab",
        "label": "ART ADHERENCE",
        "disabled": false,
        "info": ""
    },
    {
        "id": "375b72e8.21699e",
        "type": "tab",
        "label": "EXIT FROM HIV CARE",
        "disabled": false,
        "info": ""
    },
    {
        "id": "22f47742.1f1b18",
        "type": "tab",
        "label": "FAST TRACK ASSESMENT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a1643e52.69ec58",
        "type": "subflow",
        "name": "Patient Identification",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "56269f66.d78ff"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 60,
                "y": 500,
                "wires": [
                    {
                        "id": "b87511c8.2aad4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "9eba9893.b5ab6",
        "type": "subflow",
        "name": "HIV C&I Summary Diagnostic",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "fcfaf434.b3f8f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 60,
                "y": 340,
                "wires": [
                    {
                        "id": "369b84b5.91fe7c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "c44a39a9.c6ae6",
        "type": "subflow",
        "name": "Initial Assessment by clinician",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "388199af.c68f26"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 60,
                "y": 320,
                "wires": [
                    {
                        "id": "9bc52e4e.e24b88",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "e95b8a2f.2a804",
        "type": "subflow",
        "name": "Other Baseline Information",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "af94a681.5c5f4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 60,
                "y": 520,
                "wires": [
                    {
                        "id": "1d0d3e47.b7d02a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "86b75ff7.b31198",
        "type": "subflow",
        "name": "Treatment Interruptions",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "ed2ea718.e51d28"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 60,
                "y": 340,
                "wires": [
                    {
                        "id": "82665184.30463",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "1c8e387f.c41f88",
        "type": "subflow",
        "name": "Departure from Treatment",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "7039070c.3ad958"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 60,
                "y": 220,
                "wires": [
                    {
                        "id": "4fe9ce0e.405ac8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "e2e7ca08.3b41",
        "type": "subflow",
        "name": "Ongoing Staging",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "52a25e32.945718"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 60,
                "y": 340,
                "wires": [
                    {
                        "id": "d0aa055d.d853b8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "3cffefd8.654f6",
        "type": "subflow",
        "name": "ART Treatment",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "f318e98c.757928"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 60,
                "y": 580,
                "wires": [
                    {
                        "id": "7c5a4eee.45416",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "21ab2f94.f2bee",
        "type": "subflow",
        "name": "ART Register Book",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "52c625e7.065abc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 40,
                "wires": [
                    {
                        "id": "52c625e7.065abc",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "3589d1ce.0e5f66",
        "type": "subflow",
        "name": "Pre-ART Register Book",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "49dba4ec.e9cdac"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 40,
                "wires": [
                    {
                        "id": "49dba4ec.e9cdac",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "9dcf777b.4085e8",
        "type": "subflow",
        "name": "Patient Demographics",
        "info": "",
        "category": "subflows",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "96edd150.7ce4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 40,
                "wires": [
                    {
                        "id": "32e36977.13e2f6",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "8c1058fa.7435b8",
        "type": "subflow",
        "name": "HIV C&I Summary Diagnostic (2)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "eaec8f0b.dcee1"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 60,
                "y": 340,
                "wires": [
                    {
                        "id": "370c7ef5.401ab2",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "7deef87b.c92af8",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "8afb97c1.675988"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "e91820d6.35e49",
        "type": "careflow-config",
        "environment": "xian",
        "runtime_flow_path": "/Users/xian/projects/data-first-emr/care-bricks/resources/node-red-flows.json"
    },
    {
        "id": "56269f66.d78ff",
        "type": "question-primitive",
        "z": "a1643e52.69ec58",
        "name": "name",
        "label": "Name",
        "scope": "demographic",
        "key": "",
        "datatype": "text",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "8555e461.fb86c"
            ]
        ]
    },
    {
        "id": "8555e461.fb86c",
        "type": "question-primitive",
        "z": "a1643e52.69ec58",
        "name": "clientid",
        "label": "Facility Client ID",
        "scope": "demographic",
        "key": "",
        "datatype": "integer",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "7b624999.7b36a"
            ]
        ]
    },
    {
        "id": "7b624999.7b36a",
        "type": "question-primitive",
        "z": "a1643e52.69ec58",
        "name": "uniquecode",
        "label": "Unique Code",
        "scope": "demographic",
        "key": "",
        "datatype": "integer",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "c495c5b8.64ada"
            ]
        ]
    },
    {
        "id": "c495c5b8.64ada",
        "type": "demographic-birthdate",
        "z": "a1643e52.69ec58",
        "name": "",
        "entrybyage": "",
        "partialdate": "",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "11b3883d.dbfc7"
            ]
        ]
    },
    {
        "id": "11b3883d.dbfc7",
        "type": "question-primitive",
        "z": "a1643e52.69ec58",
        "name": "familymembername",
        "label": "Name of Family Member",
        "scope": "demographic",
        "key": "",
        "datatype": "text",
        "x": 240,
        "y": 320,
        "wires": [
            [
                "aa469a0e.1654b"
            ]
        ]
    },
    {
        "id": "aa469a0e.1654b",
        "type": "question-select",
        "z": "a1643e52.69ec58",
        "name": "sex",
        "label": "Sex",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Male"
            },
            {
                "sid": "Female"
            }
        ],
        "x": 190,
        "y": 380,
        "wires": [
            [
                "b87511c8.2aad4"
            ]
        ]
    },
    {
        "id": "b87511c8.2aad4",
        "type": "question-primitive",
        "z": "a1643e52.69ec58",
        "name": "contact",
        "label": "Contact #",
        "scope": "demographic",
        "key": "",
        "datatype": "text",
        "x": 200,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "fcfaf434.b3f8f",
        "type": "question-primitive",
        "z": "9eba9893.b5ab6",
        "name": "date confirmed HIV+",
        "label": "Date Confirmed HIV+",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 240,
        "y": 80,
        "wires": [
            [
                "75a05baf.3e7d44"
            ]
        ]
    },
    {
        "id": "75a05baf.3e7d44",
        "type": "question-select",
        "z": "9eba9893.b5ab6",
        "name": "hivtype",
        "label": "HIV Type",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "HIV 1"
            },
            {
                "sid": "HIV 2"
            },
            {
                "sid": "HIV 1&2"
            }
        ],
        "x": 200,
        "y": 140,
        "wires": [
            [
                "85db2847.d8394"
            ]
        ]
    },
    {
        "id": "85db2847.d8394",
        "type": "question-primitive",
        "z": "9eba9893.b5ab6",
        "name": "referred from",
        "label": "Referred from (coded)",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "369b84b5.91fe7c"
            ]
        ]
    },
    {
        "id": "369b84b5.91fe7c",
        "type": "question-primitive",
        "z": "9eba9893.b5ab6",
        "name": "partnertested",
        "label": "Partner and Children tested?",
        "scope": "encounter",
        "key": "",
        "datatype": "boolean",
        "x": 220,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "388199af.c68f26",
        "type": "question-primitive",
        "z": "c44a39a9.c6ae6",
        "name": "date",
        "label": "Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "f5c6d144.75a92"
            ]
        ]
    },
    {
        "id": "f5c6d144.75a92",
        "type": "height-weight",
        "z": "c44a39a9.c6ae6",
        "name": "",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "9bc52e4e.e24b88"
            ]
        ]
    },
    {
        "id": "9bc52e4e.e24b88",
        "type": "question-primitive",
        "z": "c44a39a9.c6ae6",
        "name": "bmi",
        "label": "Body mass index (kg/m^2)",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 190,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "af94a681.5c5f4",
        "type": "question-primitive",
        "z": "e95b8a2f.2a804",
        "name": "rpr",
        "label": "RPR",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "6c2dc748.aa9148"
            ]
        ]
    },
    {
        "id": "6c2dc748.aa9148",
        "type": "question-primitive",
        "z": "e95b8a2f.2a804",
        "name": "rpr date",
        "label": "RPD Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "fc29a7b4.229698"
            ]
        ]
    },
    {
        "id": "fc29a7b4.229698",
        "type": "question-primitive",
        "z": "e95b8a2f.2a804",
        "name": "other1 lab",
        "label": "Other Lab 1",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "338eed57.89c7a2"
            ]
        ]
    },
    {
        "id": "338eed57.89c7a2",
        "type": "question-primitive",
        "z": "e95b8a2f.2a804",
        "name": "other1 lab date",
        "label": "Other Lab 1 date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "9dce0601.a1114"
            ]
        ]
    },
    {
        "id": "9dce0601.a1114",
        "type": "question-primitive",
        "z": "e95b8a2f.2a804",
        "name": "other2 lab",
        "label": "Other 2 Lab",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "be098554.4adff"
            ]
        ]
    },
    {
        "id": "be098554.4adff",
        "type": "question-primitive",
        "z": "e95b8a2f.2a804",
        "name": "other2 lab date",
        "label": "Other 2 Lab date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "1d0d3e47.b7d02a"
            ]
        ]
    },
    {
        "id": "1d0d3e47.b7d02a",
        "type": "question-primitive",
        "z": "e95b8a2f.2a804",
        "name": "tb treatments",
        "label": "Past TB Regimens & Dates",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 220,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "ed2ea718.e51d28",
        "type": "question-primitive",
        "z": "86b75ff7.b31198",
        "name": "interruption1",
        "label": "1st Treatment Interruption Reason",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "56715cbb.069e0c"
            ]
        ]
    },
    {
        "id": "56715cbb.069e0c",
        "type": "question-primitive",
        "z": "86b75ff7.b31198",
        "name": "interruption1 date",
        "label": "1st Treatment Interruption Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "f6eedc09.bfb8"
            ]
        ]
    },
    {
        "id": "f6eedc09.bfb8",
        "type": "question-primitive",
        "z": "86b75ff7.b31198",
        "name": "interruption2",
        "label": "2nd Treatment Interruption Reason",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "82665184.30463"
            ]
        ]
    },
    {
        "id": "82665184.30463",
        "type": "question-primitive",
        "z": "86b75ff7.b31198",
        "name": "interruption2 date",
        "label": "2nd Treatment Interruption Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 210,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4fe9ce0e.405ac8",
        "type": "question-primitive",
        "z": "1c8e387f.c41f88",
        "name": "treatment departure",
        "label": "Treatment Departure Reason",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 200,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7039070c.3ad958",
        "type": "question-primitive",
        "z": "1c8e387f.c41f88",
        "name": "treatment departure date",
        "label": "Treatment Departure Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 210,
        "y": 80,
        "wires": [
            [
                "4fe9ce0e.405ac8"
            ]
        ]
    },
    {
        "id": "52a25e32.945718",
        "type": "question-primitive",
        "z": "e2e7ca08.3b41",
        "name": "stage1 date",
        "label": "WHO Stage 1 Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "da03c42e.a93a1"
            ]
        ]
    },
    {
        "id": "da03c42e.a93a1",
        "type": "question-primitive",
        "z": "e2e7ca08.3b41",
        "name": "stage2 date",
        "label": "WHO Stage 2 Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "c1b34a16.490578"
            ]
        ]
    },
    {
        "id": "c1b34a16.490578",
        "type": "question-primitive",
        "z": "e2e7ca08.3b41",
        "name": "stage3 date",
        "label": "WHO Stage 3 Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "d0aa055d.d853b8"
            ]
        ]
    },
    {
        "id": "d0aa055d.d853b8",
        "type": "question-primitive",
        "z": "e2e7ca08.3b41",
        "name": "stage4 date",
        "label": "WHO Stage 4 Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 190,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f318e98c.757928",
        "type": "question-primitive",
        "z": "3cffefd8.654f6",
        "name": "startdate",
        "label": "Date Started",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "5a8950ca.280e38"
            ]
        ]
    },
    {
        "id": "5a8950ca.280e38",
        "type": "question-select",
        "z": "3cffefd8.654f6",
        "name": "initial regimen",
        "label": "Initial Regimen",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "1a"
            },
            {
                "sid": "1b"
            },
            {
                "sid": "1c"
            },
            {
                "sid": "1d"
            },
            {
                "sid": "1e"
            },
            {
                "sid": "1f"
            },
            {
                "sid": "1g"
            },
            {
                "sid": "1h"
            },
            {
                "sid": "1i"
            },
            {
                "sid": "1j"
            },
            {
                "sid": "1k"
            },
            {
                "sid": "1l"
            },
            {
                "sid": "1m"
            },
            {
                "sid": "2a"
            },
            {
                "sid": "2b"
            },
            {
                "sid": "2c"
            },
            {
                "sid": "2d"
            },
            {
                "sid": "2e"
            }
        ],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "aa85dc3e.255ca"
            ]
        ]
    },
    {
        "id": "aa85dc3e.255ca",
        "type": "question-select",
        "z": "3cffefd8.654f6",
        "name": "1st line 1st substitution regimen",
        "label": "1st Line: 1st Substitution Regimen",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "1a"
            },
            {
                "sid": "1b"
            },
            {
                "sid": "1c"
            },
            {
                "sid": "1d"
            },
            {
                "sid": "1e"
            },
            {
                "sid": "1f"
            },
            {
                "sid": "1g"
            },
            {
                "sid": "1h"
            },
            {
                "sid": "1i"
            },
            {
                "sid": "1j"
            },
            {
                "sid": "1k"
            },
            {
                "sid": "1l"
            },
            {
                "sid": "1m"
            },
            {
                "sid": "2a"
            },
            {
                "sid": "2b"
            },
            {
                "sid": "2c"
            },
            {
                "sid": "2d"
            },
            {
                "sid": "2e"
            }
        ],
        "x": 270,
        "y": 200,
        "wires": [
            [
                "71df6c0d.305864"
            ]
        ]
    },
    {
        "id": "71df6c0d.305864",
        "type": "question-primitive",
        "z": "3cffefd8.654f6",
        "name": "1st line 1st substitution reason",
        "label": "1st Line: 1st Substitution Reason",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "a81911bd.b7966"
            ]
        ]
    },
    {
        "id": "a81911bd.b7966",
        "type": "question-primitive",
        "z": "3cffefd8.654f6",
        "name": "1st line 1st substitution date",
        "label": "1st Line: 1st Substitution Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 260,
        "y": 320,
        "wires": [
            [
                "1ae30506.e4bedb"
            ]
        ]
    },
    {
        "id": "1ae30506.e4bedb",
        "type": "question-select",
        "z": "3cffefd8.654f6",
        "name": "1st line 2nd substitution regimen",
        "label": "1st Line: 2nd Substitution Regimen",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "1a"
            },
            {
                "sid": "1b"
            },
            {
                "sid": "1c"
            },
            {
                "sid": "1d"
            },
            {
                "sid": "1e"
            },
            {
                "sid": "1f"
            },
            {
                "sid": "1g"
            },
            {
                "sid": "1h"
            },
            {
                "sid": "1i"
            },
            {
                "sid": "1j"
            },
            {
                "sid": "1k"
            },
            {
                "sid": "1l"
            },
            {
                "sid": "1m"
            },
            {
                "sid": "2a"
            },
            {
                "sid": "2b"
            },
            {
                "sid": "2c"
            },
            {
                "sid": "2d"
            },
            {
                "sid": "2e"
            }
        ],
        "x": 280,
        "y": 380,
        "wires": [
            [
                "5249124e.1e61cc"
            ]
        ]
    },
    {
        "id": "5249124e.1e61cc",
        "type": "question-primitive",
        "z": "3cffefd8.654f6",
        "name": "1st line 2nd substitution reason",
        "label": "1st Line: 2nd Substitution Reason",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 270,
        "y": 440,
        "wires": [
            [
                "bb6b2b3e.886ca8"
            ]
        ]
    },
    {
        "id": "bb6b2b3e.886ca8",
        "type": "question-primitive",
        "z": "3cffefd8.654f6",
        "name": "1st line 2nd substitution date",
        "label": "1st Line: 2nd Substitution Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 260,
        "y": 500,
        "wires": [
            [
                "4056f450.4d7114"
            ]
        ]
    },
    {
        "id": "4056f450.4d7114",
        "type": "question-select",
        "z": "3cffefd8.654f6",
        "name": "2nd line 1st substitution regimen",
        "label": "2nd Line: 1st Substitution Regimen",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "1a"
            },
            {
                "sid": "1b"
            },
            {
                "sid": "1c"
            },
            {
                "sid": "1d"
            },
            {
                "sid": "1e"
            },
            {
                "sid": "1f"
            },
            {
                "sid": "1g"
            },
            {
                "sid": "1h"
            },
            {
                "sid": "1i"
            },
            {
                "sid": "1j"
            },
            {
                "sid": "1k"
            },
            {
                "sid": "1l"
            },
            {
                "sid": "1m"
            },
            {
                "sid": "2a"
            },
            {
                "sid": "2b"
            },
            {
                "sid": "2c"
            },
            {
                "sid": "2d"
            },
            {
                "sid": "2e"
            }
        ],
        "x": 660,
        "y": 200,
        "wires": [
            [
                "e4e8fa63.521778"
            ]
        ]
    },
    {
        "id": "e4e8fa63.521778",
        "type": "question-primitive",
        "z": "3cffefd8.654f6",
        "name": "2nd line 1st substitution reason",
        "label": "2nd Line: 1st Substitution Reason",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 650,
        "y": 260,
        "wires": [
            [
                "bd5dfea8.3979f8"
            ]
        ]
    },
    {
        "id": "bd5dfea8.3979f8",
        "type": "question-primitive",
        "z": "3cffefd8.654f6",
        "name": "2nd line 1st substitution date",
        "label": "2nd Line: 1st Substitution Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 640,
        "y": 320,
        "wires": [
            [
                "cdd68008.98d8c8"
            ]
        ]
    },
    {
        "id": "cdd68008.98d8c8",
        "type": "question-select",
        "z": "3cffefd8.654f6",
        "name": "2nd line 2nd substitution regimen",
        "label": "2nd Line: 2nd Substitution Regimen",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "1a"
            },
            {
                "sid": "1b"
            },
            {
                "sid": "1c"
            },
            {
                "sid": "1d"
            },
            {
                "sid": "1e"
            },
            {
                "sid": "1f"
            },
            {
                "sid": "1g"
            },
            {
                "sid": "1h"
            },
            {
                "sid": "1i"
            },
            {
                "sid": "1j"
            },
            {
                "sid": "1k"
            },
            {
                "sid": "1l"
            },
            {
                "sid": "1m"
            },
            {
                "sid": "2a"
            },
            {
                "sid": "2b"
            },
            {
                "sid": "2c"
            },
            {
                "sid": "2d"
            },
            {
                "sid": "2e"
            }
        ],
        "x": 660,
        "y": 380,
        "wires": [
            [
                "447fbe02.ebe208"
            ]
        ]
    },
    {
        "id": "447fbe02.ebe208",
        "type": "question-primitive",
        "z": "3cffefd8.654f6",
        "name": "2nd line 2nd substitution reason",
        "label": "2nd Line: 2nd Substitution Reason",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 650,
        "y": 440,
        "wires": [
            [
                "7c5a4eee.45416"
            ]
        ]
    },
    {
        "id": "7c5a4eee.45416",
        "type": "question-primitive",
        "z": "3cffefd8.654f6",
        "name": "2nd line 2nd substitution date",
        "label": "2nd Line: 2nd Substitution Date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 650,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "52c625e7.065abc",
        "type": "question-primitive",
        "z": "21ab2f94.f2bee",
        "name": "ART Register Book",
        "label": "ART Register Book TBD",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 210,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "49dba4ec.e9cdac",
        "type": "question-primitive",
        "z": "3589d1ce.0e5f66",
        "name": "preart",
        "label": "Pre-ART Register TBD",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 190,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "96edd150.7ce4",
        "type": "question-primitive",
        "z": "9dcf777b.4085e8",
        "name": "Firstname",
        "label": "",
        "scope": "demographic",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 40,
        "wires": [
            [
                "78cbd66f.658778"
            ]
        ]
    },
    {
        "id": "78cbd66f.658778",
        "type": "question-primitive",
        "z": "9dcf777b.4085e8",
        "name": "Lastname",
        "label": "",
        "scope": "demographic",
        "key": "",
        "datatype": "string",
        "x": 360,
        "y": 40,
        "wires": [
            [
                "4a6d0749.4c81e8"
            ]
        ]
    },
    {
        "id": "4a6d0749.4c81e8",
        "type": "demographic-birthdate",
        "z": "9dcf777b.4085e8",
        "name": "",
        "entrybyage": false,
        "partialdate": false,
        "x": 200,
        "y": 100,
        "wires": [
            [
                "e0c1ad10.fd7db"
            ]
        ]
    },
    {
        "id": "eaec8f0b.dcee1",
        "type": "question-primitive",
        "z": "8c1058fa.7435b8",
        "name": "date confirmed HIV+",
        "label": "Date Confirmed HIV+",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 240,
        "y": 80,
        "wires": [
            [
                "3f48c4a5.bdc5bc"
            ]
        ]
    },
    {
        "id": "3f48c4a5.bdc5bc",
        "type": "question-select",
        "z": "8c1058fa.7435b8",
        "name": "hivtype",
        "label": "HIV Type",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "HIV 1"
            },
            {
                "sid": "HIV 2"
            },
            {
                "sid": "HIV 1&2"
            }
        ],
        "x": 200,
        "y": 140,
        "wires": [
            [
                "727f0f50.43dd6"
            ]
        ]
    },
    {
        "id": "727f0f50.43dd6",
        "type": "question-primitive",
        "z": "8c1058fa.7435b8",
        "name": "referred from",
        "label": "Referred from (coded)",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "370c7ef5.401ab2"
            ]
        ]
    },
    {
        "id": "370c7ef5.401ab2",
        "type": "question-primitive",
        "z": "8c1058fa.7435b8",
        "name": "partnertested",
        "label": "Partner and Children tested?",
        "scope": "encounter",
        "key": "",
        "datatype": "text",
        "x": 220,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "fa9a53fc.b61c6",
        "type": "question-select",
        "z": "9185b60c.57bde8",
        "name": "Type of patient",
        "label": "Type of patient",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "External consultation"
            },
            {
                "sid": "New patient"
            }
        ],
        "x": 200,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "57c511e3.627d3",
        "type": "question-select",
        "z": "9185b60c.57bde8",
        "name": "Appointment reason",
        "label": "Appointment reason",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "NULL"
            }
        ],
        "x": 200,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "511f25f9.2f438c",
        "type": "question-primitive",
        "z": "fdaaf239.29a72",
        "name": "Treatment status",
        "label": "Treatment status",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ba3e9b7a.0f1998",
        "type": "question-primitive",
        "z": "fdaaf239.29a72",
        "name": "W-H % median",
        "label": "W-H % median",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8463cade.ff9ff8",
        "type": "question-primitive",
        "z": "fdaaf239.29a72",
        "name": "BMI",
        "label": "BMI",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "2417f035.71654",
        "type": "question-primitive",
        "z": "fdaaf239.29a72",
        "name": "SBP",
        "label": "SBP",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "55705dea.b2fe04",
        "type": "question-primitive",
        "z": "fdaaf239.29a72",
        "name": "DBP",
        "label": "DBP",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "c512c969.25a558",
        "type": "question-primitive",
        "z": "fdaaf239.29a72",
        "name": "Heart rate",
        "label": "Heart rate",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8f688e3e.853ce",
        "type": "question-primitive",
        "z": "fdaaf239.29a72",
        "name": "Temp (c)",
        "label": "Temp (c)",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d92c2f26.d36ea",
        "type": "question-primitive",
        "z": "fdaaf239.29a72",
        "name": "Weight",
        "label": "Weight",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "dd819317.acb0a",
        "type": "question-primitive",
        "z": "fdaaf239.29a72",
        "name": "Height (cm)",
        "label": "Height (cm)",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "34678c62.5ffcd4",
        "type": "question-primitive",
        "z": "fdaaf239.29a72",
        "name": "Blood oxygen saturation",
        "label": "Blood oxygen saturation",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "78b0d323.34c07c",
        "type": "question-primitive",
        "z": "fdaaf239.29a72",
        "name": "Weight for age percent of median",
        "label": "Weight for age percent of median",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "7d576463.82e33c",
        "type": "question-primitive",
        "z": "fdaaf239.29a72",
        "name": "Height for age percent of median",
        "label": "Height for age percent of median",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "ce955797.172f18",
        "type": "question-select",
        "z": "fdaaf239.29a72",
        "name": "Appointment reason",
        "label": "Appointment reason",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "NULL"
            }
        ],
        "x": 200,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "8096f667.28a188",
        "type": "question-primitive",
        "z": "fdaaf239.29a72",
        "name": "Refer patient to clinician",
        "label": "Refer patient to clinician",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "48f4920e.a5351c",
        "type": "question-primitive",
        "z": "6f9b6207.f884cc",
        "name": "Reason for test",
        "label": "Reason for test",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8d0f888b.4e01f8",
        "type": "question-primitive",
        "z": "6f9b6207.f884cc",
        "name": "Appointment date",
        "label": "Appointment date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 200,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "579fc325.71d72c",
        "type": "question-primitive",
        "z": "6f9b6207.f884cc",
        "name": "Estimated date",
        "label": "Estimated date",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "322351d2.34caee",
        "type": "question-primitive",
        "z": "d928340.39217d",
        "name": "ART start date",
        "label": "ART start date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 200,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "aa3b4f9f.65a42",
        "type": "question-select",
        "z": "d928340.39217d",
        "name": "Agrees to followup",
        "label": "Agrees to followup",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No"
            },
            {
                "sid": "Phone only"
            },
            {
                "sid": "Visit only"
            },
            {
                "sid": "Yes"
            }
        ],
        "x": 200,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1297933.612d36d",
        "type": "question-primitive",
        "z": "d928340.39217d",
        "name": "CD4",
        "label": "CD4",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "599dc1e5.c5a7c",
        "type": "question-select",
        "z": "d928340.39217d",
        "name": "Is patient pregnant?",
        "label": "Is patient pregnant?",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No"
            },
            {
                "sid": "Yes"
            }
        ],
        "x": 200,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ac9a43e8.b114a",
        "type": "question-select",
        "z": "d928340.39217d",
        "name": "Has transfer letter",
        "label": "Has transfer letter",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No"
            },
            {
                "sid": "Yes"
            }
        ],
        "x": 200,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f3496c0c.a9dfe",
        "type": "question-select",
        "z": "d928340.39217d",
        "name": "Has the patient taken ART in the last two weeks",
        "label": "Has the patient taken ART in the last two weeks",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No"
            },
            {
                "sid": "Yes"
            }
        ],
        "x": 200,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ddb2621a.f9ffc",
        "type": "question-primitive",
        "z": "d928340.39217d",
        "name": "ART number at previous location",
        "label": "ART number at previous location",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "111081c4.e102ee",
        "type": "question-primitive",
        "z": "d928340.39217d",
        "name": "Location of ART initiation",
        "label": "Location of ART initiation",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c601e615.80c548",
        "type": "question-primitive",
        "z": "d928340.39217d",
        "name": "Date ART last taken",
        "label": "Date ART last taken",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 200,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "64eac168.92af5",
        "type": "question-primitive",
        "z": "d928340.39217d",
        "name": "Has the patient taken ART in the last two months",
        "label": "Has the patient taken ART in the last two months",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "35004730.a16218",
        "type": "question-select",
        "z": "d928340.39217d",
        "name": "Ever received ART",
        "label": "Ever received ART",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No"
            },
            {
                "sid": "Yes"
            }
        ],
        "x": 200,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "610b7662.62a628",
        "type": "question-select",
        "z": "d928340.39217d",
        "name": "Confirmatory HIV test type",
        "label": "Confirmatory HIV test type",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "DNA PCR"
            },
            {
                "sid": "HIV rapid qual"
            },
            {
                "sid": "NOT done"
            }
        ],
        "x": 200,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "10a7488a.480067",
        "type": "question-primitive",
        "z": "d928340.39217d",
        "name": "Confirmatory HIV test location",
        "label": "Confirmatory HIV test location",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "37e1ea8d.63f776",
        "type": "question-primitive",
        "z": "d928340.39217d",
        "name": "Confirmatory HIV test date",
        "label": "Confirmatory HIV test date",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 200,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "8010d94f.2cc0e8",
        "type": "question-select",
        "z": "d928340.39217d",
        "name": "Ever registered at ART clinic",
        "label": "Ever registered at ART clinic",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No"
            },
            {
                "sid": "Yes"
            }
        ],
        "x": 200,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "574cf1c2.23e6c",
        "type": "question-select",
        "z": "d928340.39217d",
        "name": "Breast feeding?",
        "label": "Breast feeding?",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No"
            }
        ],
        "x": 200,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "4ae8613c.1d5bb",
        "type": "question-select",
        "z": "d928340.39217d",
        "name": "SEND SMS",
        "label": "SEND SMS",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No"
            }
        ],
        "x": 200,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "a5f7e771.00faa8",
        "type": "question-primitive",
        "z": "d928340.39217d",
        "name": "CD4 count <= 500",
        "label": "CD4 count <= 500",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "6541ad15.577844",
        "type": "question-primitive",
        "z": "d928340.39217d",
        "name": "Phone only",
        "label": "Phone only",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "10eff3a1.a2c30c",
        "type": "question-primitive",
        "z": "d928340.39217d",
        "name": "Visit only",
        "label": "Visit only",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "237346ae.96d24a",
        "type": "question-primitive",
        "z": "b5d2c5b0.005858",
        "name": "HIV viral load",
        "label": "HIV viral load",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "eac6cdb2.c9fc2",
        "type": "question-primitive",
        "z": "b5d2c5b0.005858",
        "name": "Reason for test",
        "label": "Reason for test",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "dde60a28.c9e598",
        "type": "question-primitive",
        "z": "d4582ad8.5c0858",
        "name": "INH",
        "label": "INH",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "7cd61698.70bf38",
        "type": "question-primitive",
        "z": "d4582ad8.5c0858",
        "name": "Pyridoxin",
        "label": "Pyridoxin",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "61d9af82.71edc",
        "type": "question-select",
        "z": "d4582ad8.5c0858",
        "name": "Reason antiretrovirals change (first line only",
        "label": "Reason antiretrovirals change (first line only",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "NULL"
            }
        ],
        "x": 200,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9a15490e.9be7b8",
        "type": "question-select",
        "z": "d4582ad8.5c0858",
        "name": "Appointment reason",
        "label": "Appointment reason",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "NULL"
            }
        ],
        "x": 200,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b6777c9b.c1582",
        "type": "question-select",
        "z": "d4582ad8.5c0858",
        "name": "ARV regimen type",
        "label": "ARV regimen type",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "NULL"
            }
        ],
        "x": 200,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b108f73b.24a068",
        "type": "question-select",
        "z": "d4582ad8.5c0858",
        "name": "Cotrimoxazole prophylaxis treatment started",
        "label": "Cotrimoxazole prophylaxis treatment started",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No"
            },
            {
                "sid": "Yes"
            }
        ],
        "x": 200,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9ae9e93b.91d828",
        "type": "question-primitive",
        "z": "d4582ad8.5c0858",
        "name": "Regimen Category",
        "label": "Regimen Category",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "766676bb.989458",
        "type": "question-select",
        "z": "1ad0def7.993201",
        "name": "Patient present",
        "label": "Patient present",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No"
            },
            {
                "sid": "Yes"
            }
        ],
        "x": 200,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "1111cdfc.2b3672",
        "type": "question-primitive",
        "z": "1ad0def7.993201",
        "name": "Guardian present",
        "label": "Guardian present",
        "scope": "encounter",
        "key": "",
        "datatype": "boolean",
        "x": 200,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "979757e2.2a26d8",
        "type": "question-select",
        "z": "1ad0def7.993201",
        "name": "Appointment reason",
        "label": "Appointment reason",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "NULL"
            }
        ],
        "x": 200,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "57b317a3.13ea98",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "CD4 percent",
        "label": "CD4 percent",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f2c74265.d3fd",
        "type": "question-select",
        "z": "829a2298.a2c9c",
        "name": "Herpes zoster",
        "label": "Herpes zoster",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No"
            }
        ],
        "x": 200,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7f8553b6.63248c",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "Angular cheilitis",
        "label": "Angular cheilitis",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "b60c1076.e6822",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "Oral ulcerations, recurrent",
        "label": "Oral ulcerations, recurrent",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e046bc53.bef03",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "Seborrhoeic dermatitis",
        "label": "Seborrhoeic dermatitis",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "35ab02c8.8d60ee",
        "type": "question-select",
        "z": "829a2298.a2c9c",
        "name": "Who stages criteria present",
        "label": "Who stages criteria present",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Anaemia"
            },
            {
                "sid": "unexplained < 8 g/dl"
            },
            {
                "sid": "Asymptomatic HIV infection"
            },
            {
                "sid": "Bacterial pneumonia"
            },
            {
                "sid": "severe recurrent"
            },
            {
                "sid": "Candidiasis of oseophagus"
            },
            {
                "sid": "trachea and bronchi or lungs"
            },
            {
                "sid": "Candidiasis oral - voided"
            },
            {
                "sid": "Chonic herpes simplex"
            },
            {
                "sid": "Chronic diarrhea"
            },
            {
                "sid": "Cryptococcal meningitis or other extrapulmonary cryptococcosis"
            },
            {
                "sid": "EPTB"
            },
            {
                "sid": "Fever"
            },
            {
                "sid": "persistent unexplained"
            },
            {
                "sid": "intermittent or constant"
            },
            {
                "sid": ">1 month"
            },
            {
                "sid": "Herpes zoster"
            },
            {
                "sid": "Kaposi sarcoma"
            },
            {
                "sid": "Moderate unexplained wasting/malnutrition not responding to treatment (weight-for-height/ -age 70-79% or muac 11-12 cm)"
            },
            {
                "sid": "Moderate weight loss less than or equal to 10 percent"
            },
            {
                "sid": "unexplained"
            },
            {
                "sid": "Other"
            },
            {
                "sid": "PCP"
            },
            {
                "sid": "Pulmonary TB (current)"
            },
            {
                "sid": "Pulmonary tuberculosis within the last 2 years"
            },
            {
                "sid": "Recurrent upper respiratory infection"
            },
            {
                "sid": "Seborrhoeic dermatitis"
            },
            {
                "sid": "Severe bacterial infections (pneumonia"
            },
            {
                "sid": "empyema"
            },
            {
                "sid": "pyomyositis"
            },
            {
                "sid": "bone/joint"
            },
            {
                "sid": "meningitis"
            },
            {
                "sid": "bacteraemia)"
            },
            {
                "sid": "Severe unexplained wasting or malnutrition not responding to treatment"
            },
            {
                "sid": "Severe weight loss >10% and/or BMI <18.5kg/m^2"
            },
            {
                "sid": "unexplained"
            },
            {
                "sid": "Symptomatic HIV associated nephropathy or cardiomyopathy"
            },
            {
                "sid": "Unspecified stage 2 condition"
            },
            {
                "sid": ""
            }
        ],
        "x": 200,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "76d77146.fe72e",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "Recurrent upper respiratory infection",
        "label": "Recurrent upper respiratory infection",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "68425457.13ca8c",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "Chronic diarrhea",
        "label": "Chronic diarrhea",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c4d553b4.bc1e9",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "Fever, persistent unexplained, intermittent or constant, >1 month",
        "label": "Fever, persistent unexplained, intermittent or constant, >1 month",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "97ee6277.5a797",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "Persistent generalized lymphadenopathy",
        "label": "Persistent generalized lymphadenopathy",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "4bf00b0.03729f4",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "Moderate weight loss less than or equal to 10 percent, unexplained",
        "label": "Moderate weight loss less than or equal to 10 percent, unexplained",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "b44b7c4e.8062f",
        "type": "question-select",
        "z": "829a2298.a2c9c",
        "name": "Candidiasis oral - voided",
        "label": "Candidiasis oral - voided",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No"
            }
        ],
        "x": 200,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1d36e95c.6864e7",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "CD4",
        "label": "CD4",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "a62d54.b733c2b",
        "type": "question-select",
        "z": "829a2298.a2c9c",
        "name": "Is patient pregnant?",
        "label": "Is patient pregnant?",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Do not know"
            },
            {
                "sid": "No"
            },
            {
                "sid": "Yes"
            }
        ],
        "x": 200,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "2e48de68.81e062",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "Cd4 count location",
        "label": "Cd4 count location",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "dc28d5e5.b03a78",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "Cd4 count datetime",
        "label": "Cd4 count datetime",
        "scope": "encounter",
        "key": "",
        "datatype": "dateTime",
        "x": 200,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "ca0a2c71.0ab3b",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "CD4 percent location",
        "label": "CD4 percent location",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "f247f5c8.d7c6f8",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "CD4 percent less than 25",
        "label": "CD4 percent less than 25",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "3d9d0a0c.640246",
        "type": "question-select",
        "z": "829a2298.a2c9c",
        "name": "Presumed severe HIV criteria present",
        "label": "Presumed severe HIV criteria present",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Severe unexplained wasting or malnutrition not responding to treatment"
            }
        ],
        "x": 200,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "3c0a39e8.653946",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "Unspecified stage 2 condition",
        "label": "Unspecified stage 2 condition",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "2f4ed05e.84781",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "Papular pruritic eruptions / Fungal nail infections",
        "label": "Papular pruritic eruptions / Fungal nail infections",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "3084bc48.5033e4",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "Pulmonary tuberculosis within the last 2 years",
        "label": "Pulmonary tuberculosis within the last 2 years",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "d6da7792.494e48",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "Severe weight loss >10% and/or BMI <18.5kg/m^2, unexplained",
        "label": "Severe weight loss >10% and/or BMI <18.5kg/m^2, unexplained",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "b0dcddb.9bdc52",
        "type": "question-select",
        "z": "829a2298.a2c9c",
        "name": "WHO stage",
        "label": "WHO stage",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": ""
            },
            {
                "sid": "WHO stage I adult"
            }
        ],
        "x": 200,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "df21e406.0d3f58",
        "type": "question-select",
        "z": "829a2298.a2c9c",
        "name": "Reason for ART eligibility",
        "label": "Reason for ART eligibility",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": ""
            },
            {
                "sid": "Asymptomatic"
            },
            {
                "sid": "Breastfeeding"
            },
            {
                "sid": "CD4 count <= 250"
            },
            {
                "sid": "CD4 count <= 350"
            },
            {
                "sid": "CD4 count <= 500"
            },
            {
                "sid": "Gravida"
            },
            {
                "sid": "HIV infected"
            },
            {
                "sid": "None"
            },
            {
                "sid": "WHO stage III adult"
            },
            {
                "sid": "WHO stage IV adult"
            }
        ],
        "x": 200,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "67950568.0af82c",
        "type": "question-select",
        "z": "829a2298.a2c9c",
        "name": "Breast feeding?",
        "label": "Breast feeding?",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Do not know"
            },
            {
                "sid": "No"
            },
            {
                "sid": "Yes"
            }
        ],
        "x": 200,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "443fa3f9.d1fe0c",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "Pulmonary TB (current)",
        "label": "Pulmonary TB (current)",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "d7cc4de8.f6291",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "CD4 count <= 350",
        "label": "CD4 count <= 350",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "29837d75.b831d2",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "CD4 count <= 250",
        "label": "CD4 count <= 250",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "c16fec7e.7fd7a",
        "type": "question-primitive",
        "z": "829a2298.a2c9c",
        "name": "CD4 count <= 500",
        "label": "CD4 count <= 500",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "ab21b287.ef8de",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Anaemia",
        "label": "Anaemia",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "3eb794aa.b5471c"
            ]
        ]
    },
    {
        "id": "3eb794aa.b5471c",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Cough",
        "label": "Cough",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "bf4b4c55.faf62"
            ]
        ]
    },
    {
        "id": "bf4b4c55.faf62",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Icterus",
        "label": "Icterus",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "19ed6531.0a0ccb"
            ]
        ]
    },
    {
        "id": "19ed6531.0a0ccb",
        "type": "question-select",
        "z": "ab0f1e66.e04cf",
        "name": "Psychosis",
        "label": "Psychosis",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No"
            },
            {
                "sid": "Yes"
            }
        ],
        "x": 200,
        "y": 220,
        "wires": [
            [
                "276ac704.720f98"
            ]
        ]
    },
    {
        "id": "276ac704.720f98",
        "type": "question-select",
        "z": "ab0f1e66.e04cf",
        "name": "Family planning method",
        "label": "Family planning method",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Birth control pills"
            },
            {
                "sid": "Contraceptive implant"
            },
            {
                "sid": "Depo"
            },
            {
                "sid": "Female condoms"
            },
            {
                "sid": "Intrauterine contraception"
            },
            {
                "sid": "Male condoms"
            },
            {
                "sid": "None"
            },
            {
                "sid": "Tubal ligation"
            }
        ],
        "x": 200,
        "y": 260,
        "wires": [
            [
                "d2e9fbd9.09a348"
            ]
        ]
    },
    {
        "id": "d2e9fbd9.09a348",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Rash",
        "label": "Rash",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "5da14950.e67da8"
            ]
        ]
    },
    {
        "id": "5da14950.e67da8",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Headache",
        "label": "Headache",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "197f5b2d.55dcc5"
            ]
        ]
    },
    {
        "id": "197f5b2d.55dcc5",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "AZT + 3TC",
        "label": "AZT + 3TC",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 380,
        "wires": [
            [
                "2b7e1918.d471b6"
            ]
        ]
    },
    {
        "id": "2b7e1918.d471b6",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Nevirapine",
        "label": "Nevirapine",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "28a91acb.cfdf56"
            ]
        ]
    },
    {
        "id": "28a91acb.cfdf56",
        "type": "question-select",
        "z": "ab0f1e66.e04cf",
        "name": "Peripheral neuropathy",
        "label": "Peripheral neuropathy",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No"
            },
            {
                "sid": "Yes"
            }
        ],
        "x": 200,
        "y": 460,
        "wires": [
            [
                "ce949d9a.b8aaa"
            ]
        ]
    },
    {
        "id": "ce949d9a.b8aaa",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Insomnia",
        "label": "Insomnia",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 500,
        "wires": [
            [
                "6840631d.92ee5c"
            ]
        ]
    },
    {
        "id": "6840631d.92ee5c",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Dizziness",
        "label": "Dizziness",
        "scope": "encounter",
        "key": "",
        "datatype": "boolean",
        "x": 200,
        "y": 540,
        "wires": [
            [
                "c8a054dd.2151f8"
            ]
        ]
    },
    {
        "id": "c8a054dd.2151f8",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Medication orders",
        "label": "Medication orders",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "488f23d1.95f97c"
            ]
        ]
    },
    {
        "id": "488f23d1.95f97c",
        "type": "question-select",
        "z": "ab0f1e66.e04cf",
        "name": "Lactic acidosis",
        "label": "Lactic acidosis",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No"
            }
        ],
        "x": 200,
        "y": 620,
        "wires": [
            [
                "b401ec68.a9b4d"
            ]
        ]
    },
    {
        "id": "b401ec68.a9b4d",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "AZT/3TC/NVP",
        "label": "AZT/3TC/NVP",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 660,
        "wires": [
            [
                "1191a7db.2c9a68"
            ]
        ]
    },
    {
        "id": "1191a7db.2c9a68",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Family planning",
        "label": "Family planning",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 700,
        "wires": [
            [
                "12c47f6f.9607a1"
            ]
        ]
    },
    {
        "id": "12c47f6f.9607a1",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Currently using family planning method",
        "label": "Currently using family planning method",
        "scope": "encounter",
        "key": "",
        "datatype": "boolean",
        "x": 200,
        "y": 740,
        "wires": [
            [
                "2d97a05e.575ae"
            ]
        ]
    },
    {
        "id": "2d97a05e.575ae",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Lipodystrophy",
        "label": "Lipodystrophy",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 780,
        "wires": [
            [
                "ec9a8fa7.a603d"
            ]
        ]
    },
    {
        "id": "ec9a8fa7.a603d",
        "type": "question-select",
        "z": "ab0f1e66.e04cf",
        "name": "Category I TB regimen",
        "label": "Category I TB regimen",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No"
            },
            {
                "sid": "Yes"
            }
        ],
        "x": 200,
        "y": 820,
        "wires": [
            [
                "52e83928.780488"
            ]
        ]
    },
    {
        "id": "52e83928.780488",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "TDF/3TC/EFV",
        "label": "TDF/3TC/EFV",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 860,
        "wires": [
            [
                "e3233cba.c086e"
            ]
        ]
    },
    {
        "id": "e3233cba.c086e",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Fever",
        "label": "Fever",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 900,
        "wires": [
            [
                "603789a4.997238"
            ]
        ]
    },
    {
        "id": "603789a4.997238",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Nausea",
        "label": "Nausea",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 940,
        "wires": [
            [
                "c368e681.34bb28"
            ]
        ]
    },
    {
        "id": "c368e681.34bb28",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Emesis",
        "label": "Emesis",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 980,
        "wires": [
            [
                "69fe0b95.d86c44"
            ]
        ]
    },
    {
        "id": "69fe0b95.d86c44",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Night sweats",
        "label": "Night sweats",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 1020,
        "wires": [
            [
                "33da0f33.6594d"
            ]
        ]
    },
    {
        "id": "33da0f33.6594d",
        "type": "question-select",
        "z": "ab0f1e66.e04cf",
        "name": "Is patient pregnant?",
        "label": "Is patient pregnant?",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Do not know"
            },
            {
                "sid": "No"
            },
            {
                "sid": "Yes"
            }
        ],
        "x": 200,
        "y": 1060,
        "wires": [
            [
                "7d39444e.bda29c"
            ]
        ]
    },
    {
        "id": "7d39444e.bda29c",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Reason for no family planning",
        "label": "Reason for no family planning",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 1100,
        "wires": [
            [
                "8d11a8d.5c1c158"
            ]
        ]
    },
    {
        "id": "8d11a8d.5c1c158",
        "type": "question-select",
        "z": "ab0f1e66.e04cf",
        "name": "Refer to ART clinician",
        "label": "Refer to ART clinician",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "No"
            },
            {
                "sid": "Yes"
            }
        ],
        "x": 200,
        "y": 1140,
        "wires": [
            [
                "f891111a.fa594"
            ]
        ]
    },
    {
        "id": "f891111a.fa594",
        "type": "question-select",
        "z": "ab0f1e66.e04cf",
        "name": "TB status",
        "label": "TB status",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Confirmed TB NOT on treatment"
            },
            {
                "sid": "Confirmed TB on treatment"
            },
            {
                "sid": "Nosup"
            },
            {
                "sid": "sup"
            }
        ],
        "x": 200,
        "y": 1180,
        "wires": [
            [
                "ec90b039.b4f6b"
            ]
        ]
    },
    {
        "id": "ec90b039.b4f6b",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Drug induced",
        "label": "Drug induced",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 1220,
        "wires": [
            [
                "c0530da8.e4fa5"
            ]
        ]
    },
    {
        "id": "c0530da8.e4fa5",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Last antiretroviral drugs taken",
        "label": "Last antiretroviral drugs taken",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 1260,
        "wires": [
            [
                "8e00df45.f8e82"
            ]
        ]
    },
    {
        "id": "8e00df45.f8e82",
        "type": "question-select",
        "z": "ab0f1e66.e04cf",
        "name": "Malawi ART side effects",
        "label": "Malawi ART side effects",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Anaemia"
            },
            {
                "sid": "Gynaecomastia"
            },
            {
                "sid": "Icterus"
            },
            {
                "sid": "Insomnia"
            },
            {
                "sid": "Kidney Failure"
            },
            {
                "sid": "Lipodystrophy"
            },
            {
                "sid": "Peripheral neuropathy"
            },
            {
                "sid": "Psychosis"
            },
            {
                "sid": "Rash"
            }
        ],
        "x": 200,
        "y": 1300,
        "wires": [
            [
                "b82945ed.3d36c8"
            ]
        ]
    },
    {
        "id": "b82945ed.3d36c8",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Prescribe drugs",
        "label": "Prescribe drugs",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 1340,
        "wires": [
            [
                "916fc94e.fb21e8"
            ]
        ]
    },
    {
        "id": "916fc94e.fb21e8",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "TDF+3TC",
        "label": "TDF+3TC",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 1380,
        "wires": [
            [
                "69979082.3879b"
            ]
        ]
    },
    {
        "id": "69979082.3879b",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Other side effect",
        "label": "Other side effect",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 1420,
        "wires": [
            [
                "33843d97.c4ac32"
            ]
        ]
    },
    {
        "id": "33843d97.c4ac32",
        "type": "question-select",
        "z": "ab0f1e66.e04cf",
        "name": "Breast feeding?",
        "label": "Breast feeding?",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Do not know"
            },
            {
                "sid": "No"
            },
            {
                "sid": "Yes"
            }
        ],
        "x": 200,
        "y": 1460,
        "wires": [
            [
                "889393a5.7793d"
            ]
        ]
    },
    {
        "id": "889393a5.7793d",
        "type": "question-select",
        "z": "ab0f1e66.e04cf",
        "name": "Allergic to sulphur",
        "label": "Allergic to sulphur",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Do not know"
            },
            {
                "sid": "No"
            },
            {
                "sid": "Yes"
            }
        ],
        "x": 200,
        "y": 1500,
        "wires": [
            [
                "cc9fecef.439ef"
            ]
        ]
    },
    {
        "id": "cc9fecef.439ef",
        "type": "question-select",
        "z": "ab0f1e66.e04cf",
        "name": "Routine TB Screening",
        "label": "Routine TB Screening",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Cough any duration"
            },
            {
                "sid": "Fever"
            },
            {
                "sid": "Night sweats"
            },
            {
                "sid": "Weight loss / Failure to thrive / maln."
            }
        ],
        "x": 200,
        "y": 1540,
        "wires": [
            [
                "b77d73e7.2adfc"
            ]
        ]
    },
    {
        "id": "b77d73e7.2adfc",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Weight loss / Failure to thrive / maln.",
        "label": "Weight loss / Failure to thrive / maln.",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 1580,
        "wires": [
            [
                "76df081b.047688"
            ]
        ]
    },
    {
        "id": "76df081b.047688",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Cough any duration",
        "label": "Cough any duration",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 1620,
        "wires": [
            [
                "f700726d.4dd24"
            ]
        ]
    },
    {
        "id": "f700726d.4dd24",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Atazanavir Ritonavir",
        "label": "Atazanavir Ritonavir",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 1660,
        "wires": [
            [
                "90d35e22.87f5a"
            ]
        ]
    },
    {
        "id": "90d35e22.87f5a",
        "type": "question-select",
        "z": "ab0f1e66.e04cf",
        "name": "Reason for not using contraceptives",
        "label": "Reason for not using contraceptives",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Afraid of side effects"
            },
            {
                "sid": "Apathetic"
            },
            {
                "sid": "Never thought about it"
            }
        ],
        "x": 200,
        "y": 1700,
        "wires": [
            [
                "f56e5925.851ee8"
            ]
        ]
    },
    {
        "id": "f56e5925.851ee8",
        "type": "question-select",
        "z": "ab0f1e66.e04cf",
        "name": "Offer contraception",
        "label": "Offer contraception",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Discuss with spouse"
            },
            {
                "sid": "No"
            },
            {
                "sid": "Yes"
            }
        ],
        "x": 200,
        "y": 1740,
        "wires": [
            [
                "81ace5c8.a1f368"
            ]
        ]
    },
    {
        "id": "81ace5c8.a1f368",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Kidney Failure",
        "label": "Kidney Failure",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 1780,
        "wires": [
            [
                "b5dee782.82e368"
            ]
        ]
    },
    {
        "id": "b5dee782.82e368",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Gynaecomastia",
        "label": "Gynaecomastia",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 1820,
        "wires": [
            [
                "2e1be235.a5d8ee"
            ]
        ]
    },
    {
        "id": "2e1be235.a5d8ee",
        "type": "question-primitive",
        "z": "ab0f1e66.e04cf",
        "name": "Contraindications",
        "label": "Contraindications",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 1860,
        "wires": [
            [
                "94c3d0f1.52d1e"
            ]
        ]
    },
    {
        "id": "cc2df8b0.0533e8",
        "type": "question-primitive",
        "z": "e3639396.0a138",
        "name": "Drug end date",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "x": 200,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "9b86f2f3.c5ab9",
        "type": "question-primitive",
        "z": "e3639396.0a138",
        "name": "Amount dispensed",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8f787db2.173fb",
        "type": "question-primitive",
        "z": "e3639396.0a138",
        "name": "Regimen Category",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "24b74861.6ee3a8",
        "type": "question-primitive",
        "z": "f1f97173.39b7a",
        "name": "Reason for test",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "775857b9.b716a8",
        "type": "question-primitive",
        "z": "b50e434f.74437",
        "name": "Medication orders",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "33bd8ac1.71bc56",
        "type": "question-primitive",
        "z": "b50e434f.74437",
        "name": "Amount of drug brought to clinic",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "22b504cd.7f428c",
        "type": "question-primitive",
        "z": "b50e434f.74437",
        "name": "Reason for missing dose or incorrectly taking medicne",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9cd1c11c.15bd7",
        "type": "question-primitive",
        "z": "b50e434f.74437",
        "name": "Drug order adherence",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "decimal",
        "x": 200,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ab96ae2c.38d32",
        "type": "question-select",
        "z": "375b72e8.21699e",
        "name": "REASON PATIENT EXITED CARE",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Died"
            },
            {
                "sid": "Patient transferred out"
            },
            {
                "sid": "Treatment stopped"
            }
        ],
        "x": 150,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "1134bc4d.d65d24",
        "type": "question-primitive",
        "z": "375b72e8.21699e",
        "name": "Transfer out destination",
        "label": "Transfer out destination",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "a441283e.228ce8",
        "type": "question-primitive",
        "z": "375b72e8.21699e",
        "name": "Patient tracking state",
        "label": "Patient tracking state",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e02ebcaa.d6b5d",
        "type": "question-primitive",
        "z": "375b72e8.21699e",
        "name": "Date of exiting care",
        "label": "Date of exiting care",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "756a1262.95dfdc",
        "type": "question-primitive",
        "z": "22f47742.1f1b18",
        "name": "Assess for fast track?",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "x": 200,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "94c3d0f1.52d1e",
        "type": "end-flow",
        "z": "ab0f1e66.e04cf",
        "name": "",
        "x": 80,
        "y": 1940,
        "wires": []
    },
    {
        "id": "82a71274.6ee58",
        "type": "find-patient",
        "z": "ab0f1e66.e04cf",
        "name": "",
        "includename": "",
        "includeidentifier": "",
        "program": "",
        "expression": "",
        "x": 320,
        "y": 40,
        "wires": [
            [
                "ab21b287.ef8de"
            ]
        ]
    },
    {
        "id": "e0c1ad10.fd7db",
        "type": "address-liberia",
        "z": "9dcf777b.4085e8",
        "name": "Current Address",
        "label": "",
        "scope": "demographic",
        "key": "currentAddress",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "32e36977.13e2f6"
            ]
        ]
    },
    {
        "id": "32e36977.13e2f6",
        "type": "address-liberia",
        "z": "9dcf777b.4085e8",
        "name": "Home Address",
        "label": "",
        "scope": "demographic",
        "key": "homeAddress",
        "x": 420,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "aad78e8.0cd8d7",
        "type": "switch",
        "z": "4264e7c2.1cb758",
        "name": "ALUP",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ART/CPT",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Albendazol/Azithromycin",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CrAr (Serum)",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Urine LAM",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Cough/SOB pos",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "KS",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "ebc5e83e.074c38"
            ],
            [
                "e8ab05d4.4eb638"
            ],
            [
                "6cbc0e1b.97c6a"
            ],
            [
                "f6207820.d90508"
            ],
            [
                "7b43f5c4.44591c"
            ],
            [
                "dbc7baad.6d1c08"
            ]
        ]
    },
    {
        "id": "ebc5e83e.074c38",
        "type": "summary",
        "z": "4264e7c2.1cb758",
        "name": "ART / CPT",
        "x": 610,
        "y": 80,
        "wires": [
            [
                "7dfe917.5f05f7"
            ]
        ]
    },
    {
        "id": "8afb97c1.675988",
        "type": "summary",
        "z": "7deef87b.c92af8",
        "name": "Albendazol",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "15e9277b.4846e9"
            ]
        ],
        "info": "Albendazol 400mg od 1/7"
    },
    {
        "id": "6cbc0e1b.97c6a",
        "type": "switch",
        "z": "4264e7c2.1cb758",
        "name": "CrAg (Serum)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "negative",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "positive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "17addce3.7284b3"
            ],
            [
                "db0aefb2.c11f2"
            ]
        ]
    },
    {
        "id": "f6207820.d90508",
        "type": "switch",
        "z": "4264e7c2.1cb758",
        "name": "Urine LAM",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "positive",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "negative",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "237a09e0.973fc6"
            ],
            [
                "e7b05ed.08c45a"
            ]
        ]
    },
    {
        "id": "7b43f5c4.44591c",
        "type": "switch",
        "z": "4264e7c2.1cb758",
        "name": "Cough/SOB pos",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Sputum Xpert",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Amoxyl",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CXR",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 620,
        "y": 500,
        "wires": [
            [
                "91efd57a.4bafb8"
            ],
            [
                "364beb54.889c64"
            ],
            [
                "a003160f.aef4d8"
            ]
        ]
    },
    {
        "id": "dbc7baad.6d1c08",
        "type": "switch",
        "z": "4264e7c2.1cb758",
        "name": "KS on legs and palate",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "negative",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "positive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 660,
        "wires": [
            [
                "22f30f6a.547f6"
            ],
            [
                "cbb0be92.b61c4"
            ]
        ]
    },
    {
        "id": "7301d1a7.989ba",
        "type": "question-select",
        "z": "4264e7c2.1cb758",
        "name": "Screening",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "to be done"
            }
        ],
        "x": 160,
        "y": 220,
        "wires": [
            [
                "1c7d4682.b9fe49"
            ]
        ]
    },
    {
        "id": "15e9277b.4846e9",
        "type": "summary",
        "z": "7deef87b.c92af8",
        "name": "Azithromycin",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "f28756bc.c9a0b8"
            ]
        ],
        "info": "Azithromycin 500mg od 3/7"
    },
    {
        "id": "17addce3.7284b3",
        "type": "summary",
        "z": "4264e7c2.1cb758",
        "name": "STOP",
        "x": 770,
        "y": 200,
        "wires": [
            [
                "d3b51cb7.374d4"
            ]
        ]
    },
    {
        "id": "db0aefb2.c11f2",
        "type": "switch",
        "z": "4264e7c2.1cb758",
        "name": "LP and CrAg (CSF)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "negative",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "positive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 240,
        "wires": [
            [
                "a48ace36.02668"
            ],
            [
                "227e7a7.8604786"
            ]
        ]
    },
    {
        "id": "237a09e0.973fc6",
        "type": "summary",
        "z": "4264e7c2.1cb758",
        "name": "TB Treatment",
        "x": 1160,
        "y": 320,
        "wires": [
            [
                "7ab78f3f.9a538"
            ]
        ]
    },
    {
        "id": "e7b05ed.08c45a",
        "type": "switch",
        "z": "4264e7c2.1cb758",
        "name": "Cough",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "LOW/NS pos",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Cough/LOW/NS absent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Cough/SOB pos",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 750,
        "y": 380,
        "wires": [
            [
                "53b959ea.d48cf8"
            ],
            [
                "cafcc0e7.6dd52"
            ],
            [
                "7b43f5c4.44591c"
            ]
        ]
    },
    {
        "id": "91efd57a.4bafb8",
        "type": "summary",
        "z": "4264e7c2.1cb758",
        "name": "Sputum Expert",
        "x": 800,
        "y": 460,
        "wires": [
            [
                "ead9ad76.a39e1"
            ]
        ]
    },
    {
        "id": "364beb54.889c64",
        "type": "summary",
        "z": "4264e7c2.1cb758",
        "name": "Amoxyl",
        "x": 780,
        "y": 500,
        "wires": [
            [
                "ead9ad76.a39e1"
            ]
        ],
        "info": "Treatment wth amoxyl 500 mg tds 5/7 + azithromycin 500 mg 3/7 and review"
    },
    {
        "id": "a003160f.aef4d8",
        "type": "summary",
        "z": "4264e7c2.1cb758",
        "name": "CXR",
        "x": 770,
        "y": 540,
        "wires": [
            [
                "ead9ad76.a39e1"
            ]
        ]
    },
    {
        "id": "22f30f6a.547f6",
        "type": "summary",
        "z": "4264e7c2.1cb758",
        "name": "STOP",
        "x": 810,
        "y": 640,
        "wires": [
            [
                "137bef75.ded4a1"
            ]
        ]
    },
    {
        "id": "cbb0be92.b61c4",
        "type": "switch",
        "z": "4264e7c2.1cb758",
        "name": "T1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "T1/S0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "T1/S1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 680,
        "wires": [
            [
                "481f5ad1.2c2f64"
            ],
            [
                "d9346ab7.d62f58"
            ]
        ]
    },
    {
        "id": "75e95739.df3b48",
        "type": "find-patient",
        "z": "4264e7c2.1cb758",
        "name": "",
        "includename": "",
        "includeidentifier": "",
        "program": "",
        "expression": "",
        "rowcontent": "",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "7301d1a7.989ba"
            ]
        ]
    },
    {
        "id": "a48ace36.02668",
        "type": "summary",
        "z": "4264e7c2.1cb758",
        "name": "Fluco",
        "x": 970,
        "y": 220,
        "wires": [
            [
                "d3b51cb7.374d4"
            ]
        ],
        "info": "Fluco 800mg od 2/52 then Fluco 400 mg od 8/52"
    },
    {
        "id": "227e7a7.8604786",
        "type": "summary",
        "z": "4264e7c2.1cb758",
        "name": "hold ART & admit",
        "x": 1010,
        "y": 260,
        "wires": [
            [
                "d3b51cb7.374d4"
            ]
        ],
        "info": "hold ART, admit to KCH, provide Ampho for 1/52"
    },
    {
        "id": "53b959ea.d48cf8",
        "type": "switch",
        "z": "4264e7c2.1cb758",
        "name": "FASH",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "postive",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "negative",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 360,
        "wires": [
            [
                "237a09e0.973fc6"
            ],
            [
                "cafcc0e7.6dd52"
            ]
        ]
    },
    {
        "id": "ead9ad76.a39e1",
        "type": "switch",
        "z": "4264e7c2.1cb758",
        "name": "TB",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "proven or probable",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "improbable",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 500,
        "wires": [
            [
                "237a09e0.973fc6"
            ],
            [
                "cafcc0e7.6dd52"
            ]
        ]
    },
    {
        "id": "cafcc0e7.6dd52",
        "type": "summary",
        "z": "4264e7c2.1cb758",
        "name": "INH 300",
        "x": 1140,
        "y": 440,
        "wires": [
            [
                "7ab78f3f.9a538"
            ]
        ],
        "info": "INH 200 /Vit B6 25 mg 3/12"
    },
    {
        "id": "481f5ad1.2c2f64",
        "type": "switch",
        "z": "4264e7c2.1cb758",
        "name": "minimal/extensive",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "minimal",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "extensive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 660,
        "wires": [
            [
                "9c6b521a.e3ea6"
            ],
            [
                "d9346ab7.d62f58"
            ]
        ]
    },
    {
        "id": "d9346ab7.d62f58",
        "type": "summary",
        "z": "4264e7c2.1cb758",
        "name": "Vinchristine + Bleomycin",
        "x": 1190,
        "y": 680,
        "wires": [
            [
                "137bef75.ded4a1"
            ]
        ],
        "info": "INH 200 /Vit B6 25 mg 3/12"
    },
    {
        "id": "9c6b521a.e3ea6",
        "type": "summary",
        "z": "4264e7c2.1cb758",
        "name": "Vinchristine",
        "x": 1150,
        "y": 640,
        "wires": [
            [
                "137bef75.ded4a1"
            ]
        ]
    },
    {
        "id": "f480f023.619d5",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "History General",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "multi",
        "devices": [
            {
                "sid": "Fever/night sweats"
            },
            {
                "sid": "Loss of weight"
            }
        ],
        "x": 460,
        "y": 120,
        "wires": [
            [
                "68eac7d0.484c88"
            ]
        ]
    },
    {
        "id": "68eac7d0.484c88",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "Respiratory",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "multi",
        "devices": [
            {
                "sid": "Cough"
            },
            {
                "sid": "Shortness of breath"
            }
        ],
        "x": 450,
        "y": 160,
        "wires": [
            [
                "3a33454d.7845ca"
            ]
        ]
    },
    {
        "id": "3a33454d.7845ca",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "GI",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "multi",
        "devices": [
            {
                "sid": "Vomitting/diarrhea"
            },
            {
                "sid": "Pain on swallowing"
            }
        ],
        "x": 430,
        "y": 200,
        "wires": [
            [
                "4da61c3f.b1c994"
            ]
        ]
    },
    {
        "id": "4da61c3f.b1c994",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "Neuro",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "multi",
        "devices": [
            {
                "sid": "Headache"
            },
            {
                "sid": "Seizures"
            },
            {
                "sid": "Altered mental stage or other neurological problem"
            }
        ],
        "x": 430,
        "y": 240,
        "wires": [
            [
                "3b73c09a.91d0a"
            ]
        ]
    },
    {
        "id": "3b73c09a.91d0a",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "Other",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "multi",
        "devices": [
            {
                "sid": "Any skin problem"
            },
            {
                "sid": "Any sexual organs problems"
            },
            {
                "sid": "Genital ulcers"
            },
            {
                "sid": "AVD/UD/dysuria"
            },
            {
                "sid": "Inguinal LN"
            },
            {
                "sid": "Gential warts"
            },
            {
                "sid": "Current preganancy"
            },
            {
                "sid": "Check children age-status"
            }
        ],
        "x": 430,
        "y": 280,
        "wires": [
            [
                "b9e3afb.8c1c35"
            ]
        ]
    },
    {
        "id": "b9e3afb.8c1c35",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "Alarm signs",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "multi",
        "devices": [
            {
                "sid": "BMI <19 kg/m^2"
            },
            {
                "sid": "Unable to walk unaided"
            },
            {
                "sid": "Heart rate >120/min"
            },
            {
                "sid": "Systolic BP <90mm Hg"
            },
            {
                "sid": "Saturation <90%"
            },
            {
                "sid": "Temperature >39 deg C"
            }
        ],
        "x": 130,
        "y": 360,
        "wires": [
            [
                "f884df90.d9f62"
            ]
        ]
    },
    {
        "id": "f884df90.d9f62",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "Signs and symptoms: Eyes",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "multi",
        "devices": [
            {
                "sid": "Jaundice"
            },
            {
                "sid": "Pale conjunctiva"
            }
        ],
        "x": 180,
        "y": 400,
        "wires": [
            [
                "1cdbd1e0.65be2e"
            ]
        ]
    },
    {
        "id": "1cdbd1e0.65be2e",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "Signs and symptoms: Mouth",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "multi",
        "devices": [
            {
                "sid": "Oral thrush"
            },
            {
                "sid": "KS mucosa"
            }
        ],
        "x": 180,
        "y": 440,
        "wires": [
            [
                "71d4af2b.a5d1e"
            ]
        ]
    },
    {
        "id": "71d4af2b.a5d1e",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "Signs and symptoms: Neck",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "multi",
        "devices": [
            {
                "sid": "Swollen LN"
            }
        ],
        "x": 180,
        "y": 480,
        "wires": [
            [
                "65abd811.e37518"
            ]
        ]
    },
    {
        "id": "65abd811.e37518",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "Signs and symptoms: Chest",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "multi",
        "devices": [
            {
                "sid": "Normal breath sounds, normal heart sounds"
            }
        ],
        "x": 180,
        "y": 520,
        "wires": [
            [
                "1310020f.cbee1e"
            ]
        ]
    },
    {
        "id": "1310020f.cbee1e",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "Signs and symptoms: Abdo",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "multi",
        "devices": [
            {
                "sid": "Organomegaly"
            }
        ],
        "x": 180,
        "y": 560,
        "wires": [
            [
                "97449fc4.67b86"
            ]
        ]
    },
    {
        "id": "97449fc4.67b86",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "Signs and symptoms: Groin",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "multi",
        "devices": [
            {
                "sid": "No Swollen LN"
            },
            {
                "sid": "KS lesion"
            }
        ],
        "x": 180,
        "y": 600,
        "wires": [
            [
                "1783d0b.584d52f"
            ]
        ]
    },
    {
        "id": "1783d0b.584d52f",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "Signs and symptoms: Legs",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "multi",
        "devices": [
            {
                "sid": "Edema/Swelling"
            },
            {
                "sid": "KS lesion"
            }
        ],
        "x": 180,
        "y": 640,
        "wires": [
            [
                "7a2947d8.b132c8"
            ]
        ]
    },
    {
        "id": "7a2947d8.b132c8",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "WHO Stage",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "1"
            },
            {
                "sid": "2"
            },
            {
                "sid": "3"
            },
            {
                "sid": "4"
            }
        ],
        "x": 450,
        "y": 360,
        "wires": [
            [
                "5c21fa4f.855854"
            ]
        ]
    },
    {
        "id": "5c21fa4f.855854",
        "type": "question-primitive",
        "z": "7bb2ebe7.96f244",
        "name": "CD4 result",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "integer",
        "optional": "",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "e001238c.3318f"
            ]
        ]
    },
    {
        "id": "e001238c.3318f",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "CrAg Test",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "positive"
            },
            {
                "sid": "negative"
            },
            {
                "sid": "not done"
            }
        ],
        "x": 440,
        "y": 440,
        "wires": [
            [
                "361ce915.42c106"
            ]
        ]
    },
    {
        "id": "361ce915.42c106",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "LAM Test",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "positive"
            },
            {
                "sid": "negative"
            },
            {
                "sid": "not done"
            }
        ],
        "x": 440,
        "y": 480,
        "wires": [
            [
                "16e5b982.d94a76"
            ]
        ]
    },
    {
        "id": "16e5b982.d94a76",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "FASH Test",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "positive"
            },
            {
                "sid": "negative"
            },
            {
                "sid": "not done"
            }
        ],
        "x": 450,
        "y": 520,
        "wires": [
            [
                "2e92ba1d.a96326"
            ]
        ]
    },
    {
        "id": "2e92ba1d.a96326",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "CXR Test",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "positive"
            },
            {
                "sid": "negative"
            },
            {
                "sid": "not done"
            }
        ],
        "x": 440,
        "y": 560,
        "wires": [
            [
                "69bde1b4.a2fa5"
            ]
        ]
    },
    {
        "id": "9bee8147.974f5",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "Treatment",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "multi",
        "devices": [
            {
                "sid": "Disclosure discussed"
            },
            {
                "sid": "CPT"
            },
            {
                "sid": "TB treatment"
            },
            {
                "sid": "TPT"
            },
            {
                "sid": "Fluco"
            }
        ],
        "x": 660,
        "y": 400,
        "wires": [
            [
                "2855653b.29b48a"
            ]
        ]
    },
    {
        "id": "2855653b.29b48a",
        "type": "question-primitive",
        "z": "7bb2ebe7.96f244",
        "name": "Treatment other",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "optional": "",
        "x": 680,
        "y": 440,
        "wires": [
            [
                "f3e496ec.1deb38"
            ]
        ]
    },
    {
        "id": "69bde1b4.a2fa5",
        "type": "question-primitive",
        "z": "7bb2ebe7.96f244",
        "name": "Treatment ART Regimen",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "string",
        "optional": "",
        "x": 710,
        "y": 360,
        "wires": [
            [
                "9bee8147.974f5"
            ]
        ]
    },
    {
        "id": "150b58aa.b2ee37",
        "type": "question-primitive",
        "z": "7bb2ebe7.96f244",
        "name": "Givenname",
        "label": "",
        "scope": "demographic",
        "key": "givenname",
        "datatype": "string",
        "optional": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "7e3cd6fb.342718"
            ]
        ]
    },
    {
        "id": "45081c74.382e44",
        "type": "question-primitive",
        "z": "7bb2ebe7.96f244",
        "name": "ID",
        "label": "",
        "scope": "demographic",
        "key": "",
        "datatype": "string",
        "optional": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "57fb3c2b.2d5764"
            ]
        ]
    },
    {
        "id": "474ffa2f.51ddc4",
        "type": "question-primitive",
        "z": "7bb2ebe7.96f244",
        "name": "Visit Date",
        "label": "",
        "scope": "encounter",
        "key": "",
        "datatype": "date",
        "optional": "",
        "x": 440,
        "y": 80,
        "wires": [
            [
                "f480f023.619d5"
            ]
        ]
    },
    {
        "id": "5f64e10.5d5c72",
        "type": "demographic-birthdate",
        "z": "7bb2ebe7.96f244",
        "name": "Age",
        "entrybyage": true,
        "partialdate": "",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "c662b129.19718"
            ]
        ]
    },
    {
        "id": "57fb3c2b.2d5764",
        "type": "question-select",
        "z": "7bb2ebe7.96f244",
        "name": "Sex",
        "label": "",
        "scope": "demographic",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "Male"
            },
            {
                "sid": "Female"
            },
            {
                "sid": "Unknown"
            }
        ],
        "x": 110,
        "y": 200,
        "wires": [
            [
                "5f64e10.5d5c72"
            ]
        ]
    },
    {
        "id": "c662b129.19718",
        "type": "create-patient",
        "z": "7bb2ebe7.96f244",
        "name": "",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "3ccfaf5b.70059"
            ]
        ]
    },
    {
        "id": "3ccfaf5b.70059",
        "type": "set-encountertype",
        "z": "7bb2ebe7.96f244",
        "name": "",
        "encounterType": "Guided initial form",
        "x": 470,
        "y": 40,
        "wires": [
            [
                "474ffa2f.51ddc4"
            ]
        ]
    },
    {
        "id": "b9239c87.64dbb",
        "type": "register-patient",
        "z": "7bb2ebe7.96f244",
        "name": "",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "150b58aa.b2ee37"
            ]
        ]
    },
    {
        "id": "f3e496ec.1deb38",
        "type": "create-encounter-end",
        "z": "7bb2ebe7.96f244",
        "name": "",
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "b41235a6.fdbb08",
        "type": "careflow",
        "z": "7bb2ebe7.96f244",
        "careflow_runtime": "e91820d6.35e49",
        "x": 960,
        "y": 40,
        "wires": []
    },
    {
        "id": "7ab78f3f.9a538",
        "type": "end-flow",
        "z": "4264e7c2.1cb758",
        "name": "",
        "x": 1340,
        "y": 380,
        "wires": []
    },
    {
        "id": "d3b51cb7.374d4",
        "type": "end-flow",
        "z": "4264e7c2.1cb758",
        "name": "",
        "x": 1240,
        "y": 200,
        "wires": []
    },
    {
        "id": "137bef75.ded4a1",
        "type": "end-flow",
        "z": "4264e7c2.1cb758",
        "name": "",
        "x": 1380,
        "y": 600,
        "wires": []
    },
    {
        "id": "7e3cd6fb.342718",
        "type": "question-primitive",
        "z": "7bb2ebe7.96f244",
        "name": "Familyname",
        "label": "",
        "scope": "demographic",
        "key": "familyname",
        "datatype": "string",
        "optional": "",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "45081c74.382e44"
            ]
        ]
    },
    {
        "id": "1c7d4682.b9fe49",
        "type": "switch",
        "z": "4264e7c2.1cb758",
        "name": "ALUP decision",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CD4 <100 OR CD4 100-200 and patient \"sick\"",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "not sick",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "aad78e8.0cd8d7"
            ],
            [
                "d61d47d3.7ef4b8"
            ]
        ]
    },
    {
        "id": "d61d47d3.7ef4b8",
        "type": "summary",
        "z": "4264e7c2.1cb758",
        "name": "",
        "x": 360,
        "y": 460,
        "wires": [
            [
                "749c9e29.6249a"
            ]
        ],
        "info": "<h1>Not an ALUP patient, stopping.</h1>"
    },
    {
        "id": "749c9e29.6249a",
        "type": "end-flow",
        "z": "4264e7c2.1cb758",
        "name": "",
        "x": 360,
        "y": 500,
        "wires": []
    },
    {
        "id": "f28756bc.c9a0b8",
        "type": "end-flow",
        "z": "7deef87b.c92af8",
        "name": "",
        "x": 500,
        "y": 80,
        "wires": []
    },
    {
        "id": "17ba2ea9.6373a1",
        "type": "end-flow",
        "z": "4264e7c2.1cb758",
        "name": "",
        "x": 1300,
        "y": 100,
        "wires": []
    },
    {
        "id": "e8ab05d4.4eb638",
        "type": "subflow:7deef87b.c92af8",
        "z": "4264e7c2.1cb758",
        "name": "",
        "env": [],
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "7dfe917.5f05f7",
        "type": "print-barcode",
        "z": "4264e7c2.1cb758",
        "name": "",
        "x": 840,
        "y": 40,
        "wires": [
            [
                "9351602a.cd461"
            ]
        ]
    },
    {
        "id": "9351602a.cd461",
        "type": "dhis2-tracker-store",
        "z": "4264e7c2.1cb758",
        "name": "",
        "x": 1110,
        "y": 40,
        "wires": [
            [
                "17ba2ea9.6373a1"
            ]
        ]
    }
]