flows_careflow.json
[
    {
        "id": "926db3bd.4273a",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7bf38ac1.088444",
        "type": "careflow-config",
        "environment": "xian",
        "runtime_flow_path": "/Users/xian/projects/data-first-emr/workflow-poc-emr/resources/node-red-flows.json"
    },
    {
        "id": "2a05be70.47a522",
        "type": "careflow-config",
        "environment": "pda",
        "runtime_flow_path": "/Users/xian/projects/data-first-emr/react-native/care-bricks-pda/resources/node-red-flows.json"
    },
    {
        "id": "6da91541.7cd9ec",
        "type": "case-start",
        "z": "926db3bd.4273a",
        "name": "1",
        "includename": "",
        "includeidentifier": "",
        "program": "",
        "expression": "",
        "x": 110,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "75a56cc9.afbb04",
        "type": "careflow",
        "z": "926db3bd.4273a",
        "careflow_runtime": "2a05be70.47a522",
        "x": 500,
        "y": 60,
        "wires": []
    },
    {
        "id": "15a9f8f.db7a907",
        "type": "case-start",
        "z": "926db3bd.4273a",
        "name": "",
        "includename": "",
        "includeidentifier": "",
        "program": "",
        "expression": "",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "90bb54c8.c5d458"
            ]
        ]
    },
    {
        "id": "355db37b.7bf18c",
        "type": "question-select",
        "z": "926db3bd.4273a",
        "name": "",
        "label": "",
        "scope": "encounter",
        "key": "",
        "behavior": "single",
        "devices": [
            {
                "sid": "first"
            },
            {
                "sid": "zweiter"
            }
        ],
        "x": 560,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "90bb54c8.c5d458",
        "type": "switch-manual",
        "z": "926db3bd.4273a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Erster",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Zweiter",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 320,
        "y": 180,
        "wires": [
            [
                "355db37b.7bf18c"
            ],
            []
        ]
    }
]